---
title: Stages of Interaction Design
weight: 156
description: Our approach uses a mix of cognitive, strategic and practical processes which we've grouped into 5 iterative and looping stages to help keep focus on users and their needs.

---

<%= partial "ga" %>

<a href="/ways-of-working/" class="govuk-back-link">Back to ways of working</a>

# <%= current_page.data.title %>

<%= current_page.data.description %>

<div class="timeline">
    <ol>
        <li class="passed">
            <h2 class="gcweb-heading-s">Understand</h2>
            <p>Activities in this phase include:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>collaborate and feed into User Research (UR) so we learn how users behave, their needs and pain points and identify any gaps</li>
                <li>observe and scribe user testing</li>
                <li>feed into and understand personas / empathy maps</li>
                <li>analyse / understand user (and business) needs (behavioural, task-based, informational)</li>
                <li>understand the problem</li>
                <li>challenge assumptions</li>
                <li>review existing service(s)</li>
                <li>collaborate with Content Design (CD) and Service Design (SD) to understand and map the As-Is user journey</li>
                <li>create design histories (TBC if IxD or project team task)</li>
                <li>review user stories reflect identified user needs</li>
                <li>stakeholder management (as appropriate)</li>
            </ul>
        </li>
        <li class="passed">
            <h2 class="gcweb-heading-s">Define</h2>
  <p>Activities in this phase include:</p>
  <ul class="govuk-list govuk-list--bullet">
   <li>define the problem (with the team) MVP / what to test / needs to be met</li>
 <li>define the scope</li>
 <li>define the gaps</li>
 <li>challenge assumptions</li>
 <li>define tasks to complete</li>
 <li>create design histories (TBC if IxD task or team task)</li>
 <li>review user stories reflect identified user needs</li>
 <li>stakeholder management (as appropriate)</li>
        </ul>       
        </li>
        <li class="passed">
            <h2 class="gcweb-heading-s">Ideate</h2>
  <p>Activities in this phase include:</p>
    <ul class="govuk-list govuk-list--bullet">
 <li>explore concepts, options and journeys</li>
 <li>collaborate with UR to analyse and understand user needs (behaviours, task-based and informational needs) and identify gaps</li>
 <li>collaborate with content design / service design / business analyst / performance analyst on Information Architecture and journeys</li>
 <li>collaborate with devs to understand what's possible / practical</li>
 <li>map solutions and needs</li>
 <li>mock up the experience (Low / high fidelity sketches / wireframes / prototypes - using the prototype kit)</li>
 <li>Collaborative Design Reviews</li>
 <li>adhere to and champion accessibility standards</li>
 <li>adhere to and champion IxD principles and good practice</li>
 <li>reuse patterns and code as appropriate</li>
 <li>workshops</li>
 <li>documentation (design histories, design rationale, review BA user stories)</li>
 <li>share learnings</li>
 <li>collaborate and feed into User Research so we learn how users behave, their needs and pain points and identify any gaps</li>
 <li>stakeholder management (as appropriate)</li>
 <li>review designs in the repo before they go live with development team</li>
 <li>run design sprint with the whole team to co-create ideas/solutions</li>
  </ul>
        </li>
        <li class="passed">
            <h2 class="gcweb-heading-s">Refine</h2>
  <p>Activities in this phase include:</p>
    <ul class="govuk-list govuk-list--bullet">
   <li>collaborate and feed into User Research so we learn how users behave, their needs and pain points and identify any gaps</li>
 <li>evaluate and evolve / iterate prototypes / journeys based on UR or design review</li>
 <li>Collaborative Design Reviews</li>
 <li>collaborate on dev build</li>
 <li>support accessibility testing</li>
 <li>documentation (design histories)</li>
 <li>share learnings</li>
 <li>stakeholder management (as appropriate)</li>
  </ul>
        </li>
        <li class="passed">
            <h2 class="gcweb-heading-s">Iterate</h2>
  <p>Activities in this phase include:</p>
    <ul class="govuk-list govuk-list--bullet">
   <li>celebrate successes</li>
 <li>support UR</li>
 <li>learn and iterate cycle</li>
 <li>documentation</li>
  </ul>
        </li>
    </ol>
</div>
