---
title: Controls for content that starts automatically are provided
weight: 13

hide_in_navigation: true
---

<%= partial "ga" %>



<a href="/principles/2.html" class="govuk-back-link">Back to principle</a>

# Controls for content that starts automatically are provided

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/use-of-color", "WCAG 1.4.1 - Use of colour (Level A)", true)%>



## Tools you can use

- 