---
title: Headings are used and related content is grouped together
weight: 16
hide_in_navigation: true
---

<%= partial "ga" %>

<a href="/standards/accessibility-standards/" class="govuk-back-link">Back to accessibility standards</a>

# Headings are used and related content is grouped together

Help users understand what information is contained in Web pages and how that information is organised. 

When headings are clear and descriptive, users can find the information they seek more easily, and they can understand the relationships between different parts of the content more easily.

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/use-of-color", "WCAG 2.4.6 Headings and Labels (Level AA)", true)%>


<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/headings-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Use consistent hierarchy in headings.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/headings-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Don't use more than one H1 on a page or confuse the order.</div>
  </div>
</div>



## Tools you can use

- 