---
title: Design interactions in a logical order
weight: 20
hide_in_navigation: true
---

<%= partial "ga" %>

<a href="/principles/2.html" class="govuk-back-link">Back to principle</a>

# Design interactions in a logical order

Users must be able to interact with a service using only a keyboard. This is because:

- using a mouse is impossible for people who can't see the pointer
- some people don't have the ability to control a pointing device like a mouse
- many people without disabilities prefer to use a keyboard

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html", "WCAG 2.1.1 - Keyboard (Level A)", true)%>

## Good tab stop design allows keyboard users to:

- access all of the services interactive elements in a predictable order
- identify which element currently has the input focus.
- poorly-designed tab stops create high-impact accessibility problems

<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/tabstop-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Use visual hierarchy in HTML to flow left to right top to bottom.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/tabstop-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Don't confuse the logical order .</div>
  </div>
</div>

### Example of testing tab stop on a webpage

You can use tools such as <a href="https://accessibilityinsights.io/" target="_blank" rel="noopner noreferrer">Accessibility Insights (opens in new tab)</a> browser plugin to test tab stops. You should also tab through your page to see if elements are selected in the order intended.

  <img src="/images/tabstop-example.png" class="img-border">


## Tools you can use

- Accessibility insights to test tab stop order