---
title: Form elements include clearly associated labels
weight: 216

hide_in_navigation: true
---

<%= partial "ga" %>


<a href="/interaction-design/" class="govuk-back-link">Back to interaction design</a>

# Form elements include clearly associated labels

Form inputs such as textboxes, select lists, radio buttons and checkboxes must be labelled so that users can understand what is expected to be entered.

This helps users with cognitive, language or learning disabilities to input or select the necessary information in your service and reduce errors from being made.

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships", "WCAG 1.3.1 - Information and relationships (Level A)", true)%>

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/labels-or-instructions.html", "WCAG 3.3.2 - Labels or Instructions (Level A)", true)%>

You should ensure that form inputs are correctly associated with a corresponding label by using the “for” attribute which matches the id of the input.

```html
<label for="first-name">First name</label>
<input id="first-name" name="first-name" type="text">
````

In some instances a label can be visually hidden, these are still available to screen readers but hidden from sighted users. 

This may be appropriate for search fields where other indicators indicate to the user what the field is, for example placeholder text and appropriate button icons or text. 

If using GOV.UK Frontend you can use the following css class to achieve this:

```html
<label class="govuk-visually-hidden" for="search-input">Search the website</label>
````

<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/input-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">All form inputs must have a corresponding label element. Use labels above inputs to help users remember what they are filling in.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/input-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Don't use placeholders on their own. Placeholder text will dissapear when typing starts and users might forget what the field is for.</div>
  </div>
</div>


## Tools you can use

- 