---
title: Design critiques
weight: 260
---

# Design critiques

Giving and receiving feedback on work is an important part of the design process. By doing design critiques or "crits" you are getting feedback from different people, identifying any problems early on and getting a different perspective on your work. 

Similar to the rules of the retrospective, design crits should understand that "everyone did the best job they could with the information they had at the time."

There are 3 primary rules of a design crit:

1. Talk about the product or service, not the person
2. Be honest but kind and use constructive criticism only
3. No-one should need to defend a position


### 1. Talk about the product or service, not the person

In a crit, never talk about the person who has done the work, talk about the product or service. You are there to improve the product. 

When giving feedback, instead of: "This doesn't work as an accordion as it's not showing me everything I need to know" you could say "Have you considered using just headers and paragraphs to display the content?"

This helps a discussion as the designer may have considered it and has a valid reason that they have not used the suggestion. This can help help a discussion about the decisions that have been made and build understanding. 

When asking for feedback it's also important that you give some background on what you want to get feedback on and what you want to find out. 

### 2. Be honest but kind and use constructive criticism only

A crit is a safe place to talk, share feedback and also listen. Being rude, dismissive or obnoxious isn't going to help the design, the product or team relationships. 

Thinking about how you give feedback is important, for example: instead of "you never use the display component properly" to "check the usage examples for the display component in the Design System."

Questions rather than statements can lead to better discussions in a design crit.

It's also important as the person requesting feedback, to listen, let people take in the work and get notes of what people say and why.

### 3. No-one should need to defend a position

If you are designing as a team, no one person on the team should feel like they need to defend anything. Everyone is working on the thing - as a team - learning together. 



Reak the GOV.UK Blog on <a href="https://designnotes.blog.gov.uk/2017/11/27/using-design-crits-to-improve-collaboration/" target="_blank" rel="noopner noreferrer">using design crits to improve collaboration (opens in new tab)</a> 

