---
title: Design assurance
weight: 260
---

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Design assurance

Often, design assurance is just thought of as a service assessment or a peer review. 

However, there are many ways in which you can assure your design work within your team, or with stakeholders and other professions. These include:

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Design critiques (crits)</h3>
 <p>Giving and receiveing feedback on design work as part of a team.</p>
 <p><a href="/interaction-design/design-assurance/design-critiques.html">How design crits are run in DfE</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-comments fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Peer reviews / 2i</h3>
 <p>2i or "2 eye" process and getting comments or reviews from others in your own profession.</p>
 <p><a href="/interaction-design/design-assurance/peer-review.html">How to get peer review feedback.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-eye fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Show and tells and show the thing</h3>
 <p>How to run a succesful show and tell and engage people in your work.</p>
 <p><a href="/interaction-design/design-assurance/show-and-tell.html">Find out more about running show and tells.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-person-chalkboard fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Accessibility audits</h3>
 <p>Why you should get an accessibility audit and how to request one.</p>
 <p><a href="/interaction-design/design-assurance/accessibility-audit.html">Find out how and when to get an audit.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-universal-access fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Service assessment</h3>
 <p>These should not be seen as a tick box exercise but a conversation about how you have worked to meet user needs and the Service Standard.</p>
 <p><a href="/interaction-design/design-assurance/accessibility-audit.html">How design is assessed in service assessments.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-list-ol fa-6x"></i>
  </div>
</div>
</div>
