---
title: Design assurance
weight: 30
---

<%= partial "ga" %>



<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Design assurance



In addition to <%= external_link("https://apply-the-service-standard.education.gov.uk/service-assessments/", "service assessments")%> designers are expected to carry out activities which support in-line or team assurance of design activity. 

This helps to reduce the risk of mistakes being made which may be costly to fix later on, getting feedback earlier in the design process and involving people who may not be designers to contribute feedback and a different point of view to yours. 

## Types of assurance


<div class="dfe-horizontal-card">
    <div class="dfe-horizontal-card-preview">
        <i class="fa-solid fa-comments fa-3x"></i>
    </div>
    <div class="dfe-horizontal-card-info">
         <p class="subtitle">Design assurance</p>
        <h2>Design <abbr title="critiques">crits</abbr> and peer reviews</h2>
        <a href="/design-assurance/design-critiques.html" class="dfe-horizontal-card-button">View <span class="govuk-visually-hidden">design crits and peer reviews guidance</span></a>
    </div>
</div>

<div class="dfe-horizontal-card">
    <div class="dfe-horizontal-card-preview">
        <i class="fa-solid fa-history fa-3x"></i>
    </div>
    <div class="dfe-horizontal-card-info">
         <p class="subtitle">Collaboration and Sharing</p>
        <h2>Design histories and documentation</h2>
        <a href="/design-assurance/design-histories.html" class="dfe-horizontal-card-button">View <span class="govuk-visually-hidden">design crits and peer reviews guidance</span></a>
    </div>
</div>



<div class="dfe-horizontal-card">
    <div class="dfe-horizontal-card-preview">
        <i class="fa-solid fa-person-chalkboard fa-3x"></i>
    </div>
    <div class="dfe-horizontal-card-info">
         <p class="subtitle">Collaboration and Sharing</p>
        <h2>Show and tells and show the thing</h2>
        <a href="/design-assurance/show-and-tell.html" class="dfe-horizontal-card-button">View <span class="govuk-visually-hidden">design crits and peer reviews guidance</span></a>
    </div>
</div>

<div class="dfe-horizontal-card">
    <div class="dfe-horizontal-card-preview">
        <i class="fa-solid fa-universal-access fa-3x"></i>
    </div>
    <div class="dfe-horizontal-card-info">
         <p class="subtitle">Standards assurance</p>
        <h2>Accessibility audits and testing</h2>
        <a href="https://apply-the-service-standard.education.gov.uk/accessibility/accessibility-audit.html" class="dfe-horizontal-card-button">View <span class="govuk-visually-hidden">design crits and peer reviews guidance</span></a>
    </div>
</div>

<div class="dfe-horizontal-card">
    <div class="dfe-horizontal-card-preview">
        <i class="fa-solid fa-timeline fa-3x"></i>
    </div>
    <div class="dfe-horizontal-card-info">
         <p class="subtitle">Standards assurance</p>
        <h2>Service assessments</h2>
        <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/" class="dfe-horizontal-card-button">View <span class="govuk-visually-hidden">design crits and peer reviews guidance</span></a>
    </div>
</div>


