---
title: Design assurance
weight: 500
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Design Assurance</h1>
      <p class="govuk-body-l">Assurance is an important part of the design process. There are several ways to assure that the services and products we build are accessible, usable and understandable.</p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
     <i class="fa-solid fa-shield-halved fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Approaches</h2>
      <div class="cards">
         <ul>
            <li class="card">
               <div class="text">
                  <h3>
                     <a href="/design-assurance/design-critiques.html">Design critiques and peer reviews</a>
                  </h3>
                  <p>Raise awareness of work, getting a different view on something and identify problems earlier with crits and reviews.</p>
               </div>
            </li>
           
            <li class="card">
               <div class="text">
                  <h3>
                     <a href="/design-assurance/show-and-tell.html">Show and tells and show the thing</a>
                  </h3>
                  <p>Guidance in the Standards manual for when you need an accessibility audit and whether this can be internal or independent.</p>
               </div>
            </li> <li class="card">
               <div class="text">
                  <h3>
                     <a href="/design-histories.html">Design histories and documentation</a>
                  </h3>
                  <p>View DfE design histories and find out how to create your own to document changes to your service and design decisions.</p>
               </div>
            </li>
         </ul>
       
      </div>
    </div>
  </div>
</div>


<div class="dfe-section-grey">
<h2 class="govuk-heading-m">More guidance</h2>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Ongoing assurance as you design services and products is a good way to make sure you're meeting standards, designing services consistently, sharing work with other designers and getting feedback.</p>
   </div>
   <div class="govuk-grid-column-one-third standards-icon">
   </div>
   <div class="govuk-grid-column-full">
      <div class="cards">
         <ul>
          
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/"  target="_blank">Service assessments</a>
              </h3>
              <p>Guidance in the Standards manual for how to demonstrate good practice and design at service assessments.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://apply-the-service-standard.education.gov.uk/accessibility/accessibility-audit.html" target="_blank">Accessibility audits</a>
              </h3>
              <p>Guidance in the Standards manual for when you need an accessibility audit and whether this can be internal or independent.</p>
            </div>
          </li>
        </ul>
      </div>
   </div>
</div>