---
title: Design assurance
weight: 30
---

<%= partial "ga" %>



<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Design assurance

In addition to <%= external_link("https://apply-the-service-standard.education.gov.uk/service-assessments/", "service assessments")%> designers are expected to carry out activities which support in-line or team assurance of design activity. 

This helps to reduce the risk of mistakes being made which may be costly to fix later on, getting feedback earlier in the design process and involving people who may not be designers to contribute feedback and a different point of view to yours. 

This helps ensure your designs are inclusive, understandable and meet the standards outlined in this guidance.

## Methods to assure design

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Design critiques (crits) and reviews</h3>
 <p>Giving and receiveing feedback on design work as part of a team.</p>
 <p><a href="/design-assurance/design-critiques.html">How we do design crits in DfE</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-comments fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Design histories</h3>
 <p>Documenting design changes and decisions in a service.</p>
 <p><a href="/design-assurance/design-histories.html">View design histories and how to create one</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-history fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Peer reviews / 2i</h3>
 <p>2i, "proounced 2 eye" involves a peer in your profession reviewing or double-checking your work.</p>
 <p><a href="/design-assurance/peer-review.html">How to get peer review feedback.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-eye fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Show and tells and show the thing</h3>
 <p>How to run a succesful show and tell and engage people in your work.</p>
 <p><a href="/design-assurance/show-and-tell.html">Find out more about running show and tells.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-person-chalkboard fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Accessibility audits and testing</h3>
 <p>Assurances that your service is meeting standards through testing, internal and external audits.</p>
 <p><a href="https://apply-the-service-standard.education.gov.uk/accessibility/accessibility-audit.html" target="_blank">Guidance on testing and requesting an audit.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-universal-access fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Service assessments</h3>
 <p>These should not be seen as a tick box exercise but a conversation about how you have worked to meet user needs and the Service Standard.</p>
 <p><a href="https://apply-the-service-standard.education.gov.uk/service-assessments/">How service assessments are run in DfE.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-person-chalkboard fa-6x"></i>
  </div>
</div>
</div>
