---
title: 12. Content needs to change over time
weight: 112

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

We review our content regularly and keep it up to date. We remove content when we can evidence it is no longer needed and we continue to iterate content based on user feedback with an understanding that the users' needs change over time. 

Content should be monitored, any feedback addressed, and usefulness continuously checked and reviewed at last every 12 months. 