---
title: 5. Support and prevent users making mistakes
weight: 105

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

So that users make less errors and can recover from mistakes.

Making mistakes can be frustrating and increase anxiety when users are interacting with a service. 

To avoid these negative emotions, we should design to reduce the chance of users making mistakes but also for recovery when mistakes do occur.

## Good practice for helping users

You should:

- allow users to undo actions
- provide confirmation of actions - for example, save and delete
- provide logical options for checkboxes / radio buttons
- think error recovery and error prevention
- make users explicitly confirm destructive actions. For example, are you sure you want to delete?
- add helpful context - for example, use hint text
- make validation and error messages helpful