---
title: 6. Make users do less
weight: 106

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

<%= fullCta("<p>You may be assessed on how you've met this guidance at service assessments, through Service Standard <a href='https://apply-the-service-standard.education.gov.uk/service-standard/4-make-the-service-simple-to-use.html' target='_blank'>4. Make the service simple to use</a></p>")%>

So that the experience is faster and easier for users. 

A series of additional interactions add up to an experience littered with unnecessary interactions which slow the user down and increase effort. 

Remove unnecessary interactions when the user can achieve the same goal with less effort and it doesn't impact on their ability to process information. What seems like small interactions will add up to incremental improvements to the overall experience.

## Good practice for making users do less

You should:

- pre-populate, auto filter, remove redundancies
- avoid unnecessary or extra interactions
- provide short cuts
- reduce scrolling - for example, use back to top, anchor links
- follow <a href="https://lawsofux.com/en/fittss-law/" target="_blank">Fitts's law</a> (The time to acquire a target is a function of the distance to and size of the target)
- reduce repetitive interactions