---
title: 8. Design a seamless experience
weight: 108

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

So that the user experience is familiar and predictable.

Users learn how a service looks and works as they are using it. 

By having consistent designs and interactions, we are helping users to learn more quickly, building on their familarity and re-enforcing their mental models of how to interact with the services.

## Good practice for designing a seamless experience

You should:

- re-use patterns and code where possible and appropriate to conform with user expectations
- avoid bespoke designs where possible
- make sure systems look and behave the same
- maintain documentation - for example, design histories, design decisions, other IxD dcoumentation