---
title: 9. Design with data and design logic
weight: 109

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

So that everything is grounded in insights and evidence to provide robust design rationale.

Insights and design rationale are essential to designing services which meet user needs and expectations. 

As opposed to creating shiny new functionality which confuses users, is unused or even hinders their use of the service.

## Good practice for designing with data and design logic

You should:

- ensure designs are testing hypothesis
- ensure features are fulfilling a user need
- ensure design rationale exists for design decisions
- follow User Centred Design best practice
- remove unnecessary components which are not intent driven or do not add value