---
title: Images and media contain alternative descriptions
weight: 220
---

<a href="/interaction-design/standards/" class="govuk-back-link">Back to standards</a>

# Images and media contain alternative descriptions





## Tools you can use

- 