---
title: Branding your service
weight: 209
---

<a href="/interaction-design/standards/" class="govuk-back-link">Back to standards</a>

# Branding your service

You need to make sure the service uses the right header, footer and typeface for where it’s being provided, or you risk confusing users.

Your site must look like GOV.UK if it’s on one of the following domains:

- gov.uk/myservice
- myservice.service.gov.uk
- myblog.blog.gov.uk


You should follow the guidance on the <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk" target="_blank" rel="noopner noreferrer">GOV.UK Service Manual for making the service look like GOV.UK (opens in new tab)</a>

Example of the GOV.UK header branding

<img src="/images/govheader.png" alt="Image of the GOV.UK header">


## If the service is on education.gov.uk

You should:

- use the departmental Crest
- Department for Education branding in your headers
- use a default font-stack with cross-system support

```css
body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif !important;
}
```

Example of the DfE header branding

<img src="/images/dfeheader.png" alt="Image of the DfE header">

```html
DFE header code snippet
```

You must not:

- identify itself as being part of GOV.UK
- use the crown or GOV.UK logotype in the header
- use the GDS Transport typeface
- suggest that it’s an official UK government website if it’s not

