---
title: Controls for content that starts automatically are provided
weight: 221
---

<a href="/interaction-design/standards/" class="govuk-back-link">Back to standards</a>

# Controls for content that starts automatically are provided





## Tools you can use

- 