---
title: Feedback to the user is clear and identifiable

weight: 217
---

<a href="/interaction-design/standards/" class="govuk-back-link">Back to standards</a>

# Feedback to the user is clear and identifiable






## Tools you can use

- 