---
title: Standards
weight: 210
author: Andy Jones
---

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Standards

Working to defined standards ensure services the Department for Education (DfE) create are inclusive and accessible and can be used by all people. This includes removing risk by designing how things should work, this can be achieved by:

- working with other designers, researchers and developers to build and test [prototypes]()
- following [inclusive design]() principles
- ensuring you meet [component design]() criteria
- contributing to the <a href="https://github.com/alphagov/govuk-design-system-backlog/projects/1" target="_blank" rel="noopner noreferrer">GOV.UK Design System backlog (opens in new tab)</a>
- [sharing your work]() with other designers across DfE
- How you assure your design is meeting these standards through [design crits]() and [service assessments]()

## Minimum design standards

The following standards are the minimum required for designers to meet.

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Ensure sufficient colour contrast between foreground and background</h3>
 <p>Text and components must show up clearly against the background.</p>
 <p><a href="/interaction-design/standards/minimum-contrast.html">Further guidance and how to meet this standard <span class="govuk-visually-hidden">to ensure sufficient colour contrast between foreground and background</span></a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-circle-half-stroke fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Do not use colour alone to convey information</h3>
 <p>Do not use colour as the only way to explain or signal something.</p>
 <p><a href="/interaction-design/standards/color.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-droplet fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Make it easy for people to identify interactive elements</h3>
 <p>Style components such as links and buttons to make them easy to identify in different states.</p>
 <p><a href="/interaction-design/standards/focus.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-arrow-pointer fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Design interactions in a logical order</h3>
 <p>Good tab stop design allows keyboard users to access a services interactive elements in a predictable order.</p>
 <p><a href="/interaction-design/standards/tab-stop.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-arrow-down-wide-short fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Make navigation options clear and consistent across the service</h3>
 <p>It should be easy to get around the service in a consistent way and for users to know where they are in a service.</p>
 <p><a href="/interaction-design/standards/navigation.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-sitemap fa-6x"></i>
  </div>
</div>
</div>


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Include clearly associated labels on form elements</h3>
 <p>Ensure that all forms have an identifiable label next to, or above the field.</p>
 <p><a href="/interaction-design/standards/labels.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-grip-lines fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Make sure feedback to the user is clear and identifiable</h3>
 <p>Tell users clearly if something is happening or they need to take action.</p>
 <p><a href="/interaction-design/standards/feedback.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-triangle-exclamation fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Design for different viewports, ideally mobile-first</h3>
 <p>Think about how users will interact with the service on different devices and how the design will change as a result.</p>
 <p><a href="/interaction-design/standards/viewport.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-mobile-screen fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>If you use images and media, make sure they have alternative descriptions</h3>
 <p>Think about how to describe images, audio descriptions of video or transcripts.</p>
 <p><a href="/interaction-design/standards/alternative-meaning.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-images fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>If you use content which starts automatically, make sure you include controls</h3>
 <p>Allow the user to control or stop any animations or audio.</p>
 <p><a href="/interaction-design/standards/controls.html">Further guidance and how to meet this standard</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-circle-stop fa-6x"></i>
  </div>
</div>
</div>