---
title: Ensure sufficient contrast between foreground and background
weight: 210
---

<a href="/interaction-design/standards/" class="govuk-back-link">Back to standards</a>

# Ensure sufficient contrast between foreground and background

Text and components, like buttons, must be clearly perceivable from their background. This helps people who may not be able to distinguish colour (colour blindness) or have poor or low vision.

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html", "WCAG 1.4.3 - Contrast (Minimum) (Level AA)", true)%>

This does not apply for logos or text that is in a photograph.

The contrast ratio should be at least:

- 4.5:1 for text smaller than 24px, or 19px if bold
- 3:1 for text larger than 24px, or 19px if bold and components (like a text input field or button) and graphic elements (like an icon)

<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/contrast-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Ensure text and components can be perceived from the background easily.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/contrast-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Users with vision problems, poor eyesight or color blindness will struggle to identify text and components with low contrast.</div>
  </div>
</div>


## Tools you can use

- [WebAIM Contrast Checker](https://webaim.org/resources/contrastchecker/)
- [Contrast Grid](https://contrast-grid.eightshapes.com/) - tool for checking a wide range of colour combinations against Levels AA and AAA
- [Contrast checker](https://contrast-checker.glitch.me/) - Built by designers from within Government.
- [Colour contrast checker](https://microsoftedge.microsoft.com/addons/detail/colour-contrast-checker/jkmnghgbaaoohmjdblniohhjnpjmnand) - Edge plugin to check web pages from within the browser.