@import "govuk_tech_docs";

body,p,h1,h2,h3,h4,h5,h6,a,span,div {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  }

.govuk-header{background-color: #003a69;}
.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid #1d70b8;
}

footer{
display: none;
}

.technical-documentation{max-width: 50em !important;}
.govuk-header__product-name{line-height: 2.5rem !important; font-size: 1.2rem;}

.govuk-header__product-name::before{content: "Department for Education | "; 
    font-weight: 600; 
    background-image: 
    url("/images/crest.png") !important; 
    padding: 8px 0px 10px 55px;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -5px;}