---
title: Accessibility
weight: 230
hide_in_navigation: true
---

<%= partial "ga" %>

<a href="/interaction-design/" class="govuk-back-link">Back to interaction design</a>

# Accessibility

Interaction designers should ensure the user interfaces, components and patterns meet WCAG 21 Level AA as a minimum.

