---
title: Inclusive design standards in interaction design
weight: 250
---

# Inclusive design

Inclusive design aims to remove barriers that create extra effort for some groups of users. It is a design methodology that enables and draws on the full range of human diversity

If we use our own abilities and biases as a starting point, we end up with services designed for people of a specific gender, age, language ability, tech literacy, and physical ability.

Like accessibility, this includes individuals with physical or mental impairments, but it also goes much further than this. Inclusivity includes users of all ethnicities, backgrounds, gender, sexual orientation, and more into the user experience.

In short, inclusivity means a welcoming design, one that is both representative and accessible.

[ Tool: Microsoft 365 Office tools - Writing inclusive content

Go to: Editor > Settings > Inclusivity and tick the boxes

The spellchecker will now help you to start writing inclusive language and avoid any subconscious bias.
]

## There's no such thing as a "normal user"

The interactions we design with technology depend heavily on what we can see, hear, say, and touch.

Assuming all those senses and abilities are fully enabled all the time creates the potential to ignore many people who may have impairments with one or more of their senses.

Designing for inclusivity not only opens up Department for Education (DfE) services to more people with a wider range of abilities. It also reflects how people really are.

## Recognise exclusion in design

Exclusion happens when we solve problems or design solutions using our own biases.

There are different ways someone can be excluded from using a service through disability and is dependent on the context of how people are using the service.

There are three types of exclusion designers must consider when designing services, components and features.

### Temporary

Short term injury or context affects how users interact with the service. For example, having a broken arm may make it more difficult to use a phone, computer or mouse and keyboard.

[ Example: How you can do this
]

### Situational

The situation a user finds themself in might mean they cannot use the service at that moment in time. For example, being in a loud environment might make it difficult to hear or speak to someone on the phone if they need help using a service.

[ Example: How you can do this
]

### Permanent

Many people have a permanent disability and so designing for these users by default means the service will work for more people. For example, ensuring a service works with screen readers will work for a wide range of people.

[ Example: How you can do this
]

## Build knowledge in diversity

Inclusive design helps you to ensure you meet Service Standard points [1. understand users and their needs]() and [5. everyone can use the service]().

Do not rely on simulating different abilities. For example, using blindfolds, earplugs or putting one hand behind your back, test the service with a wide range of users.

Having empathy for your users and learning how people adapt in different ways to using the service, you can better understand how to design for a wide range of abilities.

## Solve for one, works for all

Inclusive design means designing with consideration for many different circumstances.

However, ensuring the service works for blind users has the added benefit that it'll work for users with temporary vision issues using voice over or a screen reader.

Additionally, someone who might find it easier to listen to guidance or content rather than read it if they are cooking dinner or out for a walk.

## Find out more

The following links all open in a new tab.

- <a href="https://www.gov.uk/service-manual/design/making-your-service-more-inclusive" target="_blank" rel="noopner noreferrer">Making your service more inclusive</a> on GOV.UK
- <a href="https://www.nngroup.com/articles/inclusive-design/" target="_blank" rel="noopner noreferrer">Inclusive Design</a> Nielsen Norman Group
- <a href="https://www.microsoft.com/design/inclusive/" target="_blank" rel="noopner noreferrer">Inclusive Design Toolkit</a> Microsoft