---
title: Interaction design
weight: 200
---

<%= partial "ga" %>

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-80">Interaction design</h1>
         <p class="govuk-body-l">Design intuitive, accessible, understandable interfaces for users to reduce friction and eliminate risks in services.</p>
      </div>
      <div class="govuk-grid-column-one-third standards-icon">
         <i class="fa-solid fa-clone fa-10x"></i>
      </div>
      <div class="govuk-grid-column-full">
         <h2 class="govuk-heading-m bordered-top">Accessible design and prototyping</h2>
         <div class="cards">
            <ul>
               <li class="card">
                  <div class="text">
                     <h3>
                        <a href="/interaction-design/component-design.html">Component design criteria</a>
                     </h3>
                     <p>How to decide when to design a new component and the criteria it must meet to be accepted.</p>
                  </div>
               </li>
               <li class="card">
               <div class="text">
                  <h3>
                     <a href="/interaction-design/prototyping.html">Protoyping</a>
                  </h3>
                  <p>Approaches we use in DfE to prototype services for testing including using the GOV Prototype Kit and Figma.</p>
               </div>
            </li>
            </ul>
         </div>
      </div>
   </div>
</div>


<div class="dfe-section-grey">
<h2 class="govuk-heading-m">Our principles and how we work</h2>
<div class="govuk-grid-row">

   <div class="govuk-grid-column-full">
      <div class="cards">
         <ul>
            <li class="card">
               <div class="text">
                  <h3>
                     <a href="/interaction-design/principles.html">Principles</a>
                  </h3>
                  <p>Following our profession-developed principles, along with the design standards means you'll be designing good user experiences.</p>
               </div>
            </li>
             <li class="card">
               <div class="text">
                  <h3>
                     <a href="/interaction-design/ways-of-working.html">Ways of working</a>
                  </h3>
                  <p>Following our profession-developed principles, along with the design standards means you'll be designing good user experiences.</p>
               </div>
            </li>
            
         </ul>
      </div>
   </div>
</div>

