---
title: Being an Interaction Designer
weight: 155
description: There's more to being a designer than just the designing. we follow a number of techniques and approaches to become better designers.

---

<%= partial "ga" %>

<a href="/ways-of-working/" class="govuk-back-link">Back to ways of working</a>

# <%= current_page.data.title %>

<%= current_page.data.description %>


## What we do

- Explore design solutions by understanding users, mapping journeys and creating prototypes
- Test hypotheses and interactions which address user needs, behaviours and pain points
- Feed into and support other disciplines and help to shape direction

## What we don't do

> We do not build fully functional services to the GDS coding standard.

We use the prototyping kit to create prototypes for testing concepts.

Interaction designers are not developers. Our code is not to GDS coding standards and isn't expected to be. 

Prototypes are design artefacts, not an exact representation of the fully developed service. Links to databases, validation, error handling and everything functioning may not work. 

We only prototype what's needed for design and user testing.

## As Designers

We:

- follow GDS principles of how to be an Interaction Designer (opens new tab)
- follow IxD team principles and good practice of how to do IxD
- collaborate with each other
- collaborate with other professions
- work openly so we can be supported and can support others and reuse
- reuse patterns for consistency between services
- continually learn and develop

## How we collaborate and work within teams

We:

- share prototypes, journey maps and other IxD outputs
- document design decisions (what and why)
- do Collaborative Design Reviews and crits so we have awareness of work, can support each other and address differences between services
- document Design Review outcomes for future reference
- centralise shared documents and IxD outputs in a single location
- maintain design histories and handover docs
- share working boards, such as Lucid and Figma
- feed new or iterated designs into the GDS community backlog
- support delivery teams to track behaviours in the live code so we can learn and iterate future designs based on live usage