---
title: Ways of working
description: How we work together as a design profession and with other communities of practice in the Department for Education and across government.
weight: 400
last_reviewed_on: 2022-10-21
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     <div class="cards card-thirds">
      <ul><li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/heads-of-profession.html">Heads of Profession</a>
          </h3>
          <p>Heads of Profession (HoPs) support and enable professionaals to do their job effectivley.</p>
        </div>
        </li>
        <li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/community.html">Communities of practice</a>
          </h3>
          <p>Our communities of practice meet regularly to discuss work, learn, share and support each other.</p>
        </div>
        </li>
         <li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/skills-and-capability.html">Skills and capability</a>
          </h3>
          <p>Skills and capability framework to understand development, progression, and training opportunities.</p>
        </div>
        </li>
      </ul>
    </div>

     <h2 class="govuk-heading-l">Professions</h2>
     <p>Professions are really important to be build knowledge, support, collaboration, and community. </p>
       <div class="cards card-thirds">
      <ul>
        <li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/profession/content-design.html">Content Design</a>
          </h3>
          <p>Content designers make things easier for people to understand and use.</p>
        </div>
        </li>
          <li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/profession/interaction-design.html">Interaction Design</a>
          </h3>
          <p>An interaction designer works out the best way to let users interact with services.</p>
        </div>
        </li>
          <li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/profession/service-design.html">Service Design</a>
          </h3>
          <p>Service designers design the end-to-end journey of a service and have a strategic view of services in a portfolio. </p>
        </div>
        </li>
          <li class="card">
        <div class="text">
          <h3>
            <a href="/ways-of-working/profession/user-research.html">User Research</a>
          </h3>
          <p>User researchers plan, design and do research with users that enable teams get a deep understanding of the people that use DfE services. </p>
        </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>