---
title: Interaction Design artefacts and documentation
weight: 157
description: We use a variety of tools to help us create Interaction Design outputs depending on the purpose, time available and what's 'good enough' to meet the intended purpose

---

<%= partial "ga" %>

<a href="/ways-of-working/" class="govuk-back-link">Back to ways of working</a>

# <%= current_page.data.title %>

<%= current_page.data.description %>

## Artefacts

### Journey maps

These are created by Interaction Designers in collaboration with Content Designers, User Researchers, Performance Analysts and Service Designers, if available.

All designs should start with a journey map, which meet the needs of the project.

### High level understanding 

Created with the team and include stakeholders where possible.

Basic boxes and arrows style. Use anything that works as long as it can be saved and edited.

Higher fidelity journey maps can be used if needed by the project or for a different purpose.

### Prototypes

- concepts for problem solving and discussion; digital sketches, for example, using Figma or Lucidspark
- testing interactions and journeys; using the GOV.UK prototype kit and Visual Studio Code

[More information on how to prototype and run the prototpye kit](/prototyping/)


## Our documentation

Interaction Design is about more than just prototyping and journey mapping - we have other design outputs which help us to do our work, help with onboarding new team members and to better support or pick up each other's work.

### To track of and document design rationale

- design backlog for future consideration
- Collaborative Design Review feedback (design decisions made, why and any alternative designs)
- design histories
- agreed consistent approach to prototype versioning

### To help us stay up to date with each other

- IxD updates document (updated weekly)
- Clan Trello board for logging and tracking actions from Clan sessions
- Clan slack channel

### To share and work on together

- shared, reusable Figma design library
- central location for easy access to our IxD and Clan work
- service differences Lucidspark board
- behavioural needs Lucidspark board
- Clan foundation activities Lucidspark boards