---
title: Working as a team
weight: 158
description: Adopting a collaborative and supportive team culture is essential for us to build and grow as a team to deliver our best work.
---

<%= partial "ga" %>

<a href="/ways-of-working/" class="govuk-back-link">Back to ways of working</a>

# <%= current_page.data.title %>

<%= current_page.data.description %>

## Communicate with each other

- celebrate successes
- slack channel so we can communicate quickly
- regular catch ups for wellbeing and relationship building
- weekly IxD updates document to keep up to date with each other

## Share skills, knowledge and experiences

- share our work in a central location e.g. prototypes, journey maps, patterns...
- weekly Collaborative Design Reviews (keep up-to-date, explore alternatives, get and give feedback and improve consistency between the services)
- coaching - share knowledge, skills and experiences so we learn from each other/together
- discuss topics of interest
- co-design workshops so we can support each other or learn

## Improve delivery of services

- compare services for consistency
- maintain a backlog of identified opportunities for improvements
- identify and collaborate on new patterns

## Evolve the team

- activities to evolve the team together so we grow together
- create our team plan together so we're sharing doing what we want as a collective