

---
title: Working with GOV.UK and digital services
weight: 161
description: how to ensure a joined up journey for users between GOV.UK and DfE digital services.
---

<%= partial "ga" %>

<a href="/ways-of-working/" class="govuk-back-link">Back to ways of working</a>

# <%= current_page.data.title %>
