---
title: Accessibility and inclusive design
weight: 500
description: Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.
last_reviewed_on: 2022-10-21
---

<%= partial "ga" %>
<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Understanding Web Content Accessibility Guidelines (WCAG)</h2>
    <div class="cards card-thirds">
      <ul>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/understanding-wcag/">WCAG guideline breakdown</a>
            </h3>
            <p>Practical understanding of WCAG guidelines, what they are, how to implement them, test with common tools and technologies.</p>
          </div>
        </li>
      </ul>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible dfe-bar-thick govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Guidance</h2>
    <div class="cards card-thirds">
      <ul>
      <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/laws/">Laws and regulations</a>
            </h3>
            <p>Accessibility requirements are enforced through different legislation and standards, find out what they are and how they apply.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/inclusive-design/">Inclusive design</a>
            </h3>
            <p>Consider who you are designing for and reduce unconscious biases.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/roles/">Roles and responsibilites</a>
            </h3>
            <p>Accessibility requirements are enforced through different legislation and standards, find out what they are and how they apply.</p>
          </div>
        </li><li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/training/">Training</a>
            </h3>
            <p>Training resources for learning about accessibility across professions.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/tools/">Tools</a>
            </h3>
            <p>How to assure your service is compliant with accessibility regulations through testing and independent audits.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
