---
title: Accessibility
weight: 12
---
<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Accessibility</h1>
      <p class="govuk-body-l">Guidance, advice and tools for designers delivering services for DfE users to ensure access needs are being met.</p>
      <p class="govuk-body-l govuk-!-font-weight-bold">The guidance in this manual should be used alongside the <a href="https://apply-the-service-standard.education.gov.uk/accessibility/" target="_blank">Accessibility Standards</a></p>

    </div>
    <div class="govuk-grid-column-one-third standards-icon">
    <i class="fa-solid fa-universal-access fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Guidance for designers</h2>
      <div class="cards">
        <ul>
        <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/overview.html">Overview</a>
              </h3>
              <p>How to use these resources to ensure services are accessible.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/tools.html">Tools and testing</a>
              </h3>
              <p>Tools, resources and methods to improve accessibility and support testing how accessible services are.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/inclusive-design.html">Inclusive design</a>
              </h3>
              <p>Inclusive design aims to remove barriers that create extra effort for some groups of users and enables and draws on the full range of human diversity.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">Additional resources</h2>
  <div class="cards">
    <ul>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/accessibility/profiles.html">Testing profiles</a>
          </h3>
          <p>How to use testing profiles to better understand specific access needs.</p>
        </div>
      </li>
     
    </ul>
  </div>
</div>