---
title: Accessibility and inclusive design
weight: 001
description: Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.

---


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Understanding Web Content Accessibility Guidelines (WCAG)</h2>
    <div class="cards card-thirds">
      <ul>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/understanding-wcag/">Implementing WCAG</a>
            </h3>
            <p>Information about each WCAG guideline, what it means, how to implement and test.</p>
          </div>
        </li>
         <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/understanding-wcag/draft-2-2/">Draft 2.2 WCAG changes</a>
            </h3>
            <p>Summary of the new success criteria in WCAG 2.2 describing them in simple terms and how to meet them.</p>
          </div>
        </li>
      </ul>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible dfe-bar-thick govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Guidance</h2>
    <div class="cards card-thirds">
      <ul>
      <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/laws/">Laws and regulations</a>
            </h3>
            <p>Accessibility requirements are enforced through different legislation and standards, find out what they are and how they apply.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/inclusive-design/">Inclusive design</a>
            </h3>
            <p>Consider who you are designing for and reduce unconscious biases.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/roles/">Roles and responsibilites</a>
            </h3>
            <p>Accessibility requirements are enforced through different legislation and standards, find out what they are and how they apply.</p>
          </div>
        </li><li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/training/">Training</a>
            </h3>
            <p>Training resources for learning about accessibility across professions.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/accessibility/tools/">Tools</a>
            </h3>
            <p>How to assure your service is compliant with accessibility regulations through testing and independent audits.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
