---
title: Make navigation options clear and consistent across the service
weight: 19
hide_in_navigation: true
---

<%= partial "ga" %>

<a href="/standards/accessibility-standards/" class="govuk-back-link">Back to accessibility standards</a>

# Make navigation options clear and consistent across the service

When using a service or website, users should expect a consistent presentation of repeated content such as navigation menus and layout of pages, and an indication of where they are. 

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/consistent-navigation.html", "WCAG 3.2.3 - Consistent Navigation (Level AA)", true)%>

Being consistent helps screen reader users or magnifier users to quickly navigate a set of pages as they can expect repeating features to be in the same place or order over similar pages.

This also assists users to understand where they are in a service and navigate to other areas quickly. You can do this by using <a href="https://design-system.service.gov.uk/components/breadcrumbs/" rel="noopner noreferrer" target="_blank">breadcrumbs (opens in new tab)</a> and  <a href="https://design-system.service.gov.uk/components/back-link/" rel="noopner noreferrer" target="_blank">back links (opens in new tab)</a> as appropriate.

<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/navigation-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Indicate to users where they are in your service and provide affordances like breadcrumbs and back links consistently.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/navigation-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Users will be confused if it's not clear where they are or how to navigate your service easily.</div>
  </div>
</div>

