---
title: Overview
description: Tools, resources and methods to improve accessibility and support testing how accessible services are
weight: 11
---

<%= partial "ga" %>

<a href="/accessibility" class="govuk-back-link">Back to accessibility</a>

# Overview

Accessibility means making services, website and apps usable by as many people as possible, regardless of what their specific needs are.

Delivering accessible and inclusive services means DfE are working to provide servides in line with government standards and our legal responsibilities for equality and accessibility.

<div class="govuk-inset-text">
      <p class="govuk-body">Use this manual alongside the <a href="https://apply-the-service-standard.education.gov.uk/accessibility/" target="_blank">Apply the Service Standard in DfE</a> acessibility guidance.</p>
</div>

In order to provide consistency for service teams, we've developed a DfE Accessibility Standard that closely aligns to the <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines (WCAG) 2.1 Level AA</a>but simplifies and focuses on the areas most likely to present challenges for DfE users.