---
title: Code snippets
description: Copy and paste code blocks and samples to do common things in the prototype kit.
weight: 653

---
<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="/prototyping/" class="dfe-hero-back">Prototyping</a>
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>


<p>These code snippets will work in the GOV.UK Prototype Kit, if used as directed.</p>

  <div class="cards card-quarters">
         <ul>
      <li class="card">
            <div class="text">
               <h3>
                  <a href="/prototyping/code-snippets/redirect.html">Conditional redirect</a>
               </h3>
               <p>Send a user to a different page depending on a form choice.</p>
            </div>
         </li>
         </ul>
      </div>