---
title: Prototyping
weight: 650

---



<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-48">Prototyping</h1>
         <p class="govuk-body-l">Design and build prototypes of services using tools like Figma or the Prototyping kit.</p>
      </div>
   </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Getting started with the prototpye kit</h2>
        <div class="cards card-thirds">
            <ul>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/prototyping/kit.html">Prototype kit</a>
                        </h3>
                        <p>How to use the GOV.UK prototype kit, advanced usage and troubleshooting.</p>
                    </div>
                </li>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/prototyping/github-and-heroku.html">GitHub and Heroku</a>
                        </h3>
                        <p>Storing your prototype kit code securely and using Heroku to run prototypes for testing with users.</p>
                    </div>
                </li>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/prototyping/code-snippets.html">Code snippets</a>
                        </h3>
                        <p>Copy and paste code blocks and samples to do common things in the prototype kit.</p>
                    </div>
                </li>
            </ul>
        </div>
        <h2 class="govuk-heading-m">More prototyping guidance</h2>
        <div class="cards card-thirds">
            <ul>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/prototyping/tools-and-templates.html">Tools and templates</a>
                        </h3>
                        <p>Tools, templates and resources to easily design prototypes.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
