---
title: Prototyping
weight: 240
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-80">Prototyping</h1>
         <p class="govuk-body-l">Design and build prototypes of services using tools like Figma or the Prototyping kit.</p>
      </div>
      <div class="govuk-grid-column-one-third standards-icon">
         <i class="fa-solid fa-laptop-code fa-10x"></i>
      </div>
       <div class="govuk-grid-column-full">
         <h2 class="govuk-heading-m bordered-top">Accessible design and prototyping</h2>
         <div class="cards">
            <ul>
               <li class="card">
                  <div class="text">
                     <h3>
                        <a href="/prototyping/types-of-prototyping.html">Types of prototyping</a>
                     </h3>
                     <p>How to decide when to design a new component and the criteria it must meet to be accepted.</p>
                  </div>
               </li>
               <li class="card">
               <div class="text">
                  <h3>
                     <a href="/prototyping/tools-and-templates.html">Tools and templates</a>
                  </h3>
                  <p>Tools, templates and resources to easily design prototypes.</p>
               </div>
            </li>
            <li class="card">
               <div class="text">
                  <h3>
                     <a href="/prototyping/kit.html">Prototype kit</a>
                  </h3>
                  <p>How to use the GOV.UK prototype kit, advanced usage and troubleshooting.</p>
               </div>
            </li>
            </ul>
         </div>
      </div>
   </div>
</div>
