---
title: Prototype kit
weight: 255
---

<a href="/prototyping/" class="govuk-back-link">Back to prototyping</a>

# Prototype kit

Using the kit means you can build prototypes that look like a real GOV.UK service. This helps to make it easier to test for usability issues and get feedback on how the service might perform if it were a real service. 

The kit is used across Government and supported thorugh the cross-gov <a href="https://ukgovernmentdigital.slack.com/archives/C0647LW4R"  target="_blank" rel="noopener noreferrer"> #prototype-kit</a> Slack channel. 

There are tutorials and example code on the prototype kit website and you can make use of components and patterns from the <a href="https://design-system.service.gov.uk/" target="_blank" rel="noopener noreferrer">GOV.UK Design System</a> by copying HTML or Nunjucks code snippets into your prototype.

To be able to use the prototype kit, you'll need to ensure your device has the following software installed:

<ul class="govuk-list">
<li><a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">Visual Studio Code (VS Code)</a> - This is a code editor that enables you to make changes and run the kit as a website on your device.</li>
<li><a href="https://nodejs.org/en/" target="_blank" rel="noopener noreferrer">Node.JS (LTS Version)</a> - Node is a Javascript based framework for building websites and applications.</li>
<li>If you're unfamiliar with using commands in a terminal to work with GitHub, you can download <a href="https://desktop.github.com/" target="_blank" rel="noopener noreferrer">GitHub Desktop</a> to make it easier.</li>
<li>If on a Windows device, you'll need to install <a href="https://git-scm.com/download/win"  target="_blank" rel="noopener noreferrer">Git Bash</a></li>
</ul>


## Branding your prototype

If your prototype is not intended for publishing to GOV.UK or service.gov.uk you should follow the <a href="/standards/branding.html#branding-your-service.html">branding your service</a> guidance so that you do not cause confusion with your users.

## Testing your prototype with users

Depending on what testing you plan to do with users, you might want to run your prototype as a website, rather than on your local device.

We use <a href="https://www.heroku.com/"  target="_blank" rel="noopener noreferrer">Heroku</a> to host prototypes and this is free for basic usage and sufficient for most prototype testing. You'll need to create an account using your DfE email address.

You'll also need a <a href="https://github.com" target="_blank" rel="noopner noreferrer">GitHub</a> account to store your code and enable it to be deployed to Heroku. 

Prototypes should be created in the GitHub DFE-Digital organisation, clearly identifying them as a prototype. You can request access to GitHub through <a href="https://sites.google.com/digital.education.gov.uk/digitaltools/home?authuser=0" rel="nofollow" target="_blank" >Digital Tools support</a>.

> Full instructions on how to set up a Heroku account and deploy your prototype can be found on the <a href="https://govuk-prototype-kit.herokuapp.com/docs/publishing-on-heroku"  target="_blank" rel="noopner noreferrer">publishing to Heroku guidance</a> on the GOV.UK Design System.
