---
title: Types of prototyping
weight: 245
---

<a href="/prototyping/" class="govuk-back-link">Back to prototyping</a>

# Types of prototyping

We design and build prototypes to test solutions to problems. 

Prototypes can be simple wireframe sketches, mockups through to low-code clickable prototypes using the GOV.UK prototype kit. 

> You can read more about prototyping and the differences between <a href="https://www.nngroup.com/articles/ux-prototype-hi-lo-fidelity/" target="_blank" rel="noopener noreferrer">high and low fidelity prototypes</a> on the Nielsen Normal Group (NNG) website.

## How we do prototyping in DfE

We use differnet approaches to prototyping, depending on the audience, the complexity or what we want to test and find out. This means we could:

- test simple sketches with pen and paper 
- create realistic mockups and simple user journeys using <a href="https://figma.com" target="_blank" rel="noopener noreferrer">Figma</a> 
- build clickable prototypes using the <a href="https://govuk-prototype-kit.herokuapp.com/docs/install" target="_blank" rel="noopener noreferrer">GOV.UK Prototype Kit</a> which look and behave like real digital services

