---
title: Controls for content that starts automatically are provided
weight: 221
---

<%= partial "ga" %>



<a href="/design-standards/" class="govuk-back-link">Back to standards</a>

# Controls for content that starts automatically are provided

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/use-of-color", "WCAG 1.4.1 - Use of colour (Level A)", true)%>



## Tools you can use

- 