---
title: 1. Understand all users; their needs, behaviours and pain points
weight: 101
---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

#  <%= current_page.data.title %>

You need to understand all users and their needs with an ambition to meet them.

User needs come in different forms. Designing for information-based and task-based needs will lead to a service and user journey which will allow users to complete the task to achieve an outcome.

Understanding behaviour-based needs will improve the user experience. It helps us to design how our users use the service. This means we can avoid 'fudges' and workarounds users might do to complete the task they need to do.

## Good practice for understanding all users

You should:

- understand the research insights
- use needs-based personas
- consider user needs, accessibility needs and business needs
- fix or mitigate user pain points
- factor in user behaviours
- understand how and why the user does something
- think about what's missing and contribute into research and design workshops.