---
title: 10. Content has a purpose
weight: 110

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

We develop content based on evidence of user needs and deliver it to users in a way that meets these needs. 