---
title: 13. More content is not always the right solution
weight: 113

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>


An important part of understanding user needs is understanding where and how we, in DfE, should address that need. 

We need to consider how appropriate the type of content is and if we can meet the user need on GOV.UK. 

If the need cannot be met on GOV.UK, we should consider the different ways we can share the content, for example email or blog post. 

Does this guidance actually need to become a service? (and conversely is this ‘service’ actually guidance?) Should this be published by someone else? Does the information already exist elsewhere?
