---
title: 2. Design accessibly from the start
weight: 102

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

<%= fullCta("<p>You may be assessed on how you've met this guidance at service assessments, through Service Standards <a href='https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs.html' target='_blank'>1. Understand users and their needs</a> and <a href='https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service.html' target='_blank'>5. Make sure everyone can use the service</a></p>")%>
 
We need to design and deliver services that work for everyone, that are inclusive and accessible.

Designing for accessibly from the start reduces rework and time, is morally the right thing to do and is a legal requirement.

## Legislation

We will be breaking the law if we design services which are not accessible. The <a href="https://apply-the-service-standard.education.gov.uk/accessibility/laws-and-standards.html" target="_blank">laws and regulations we are required to meet (opens in new tab)</a> are detailed in the Apply the Service Standard in DfE Manual.

## Good practice for accessibility

You should:

- [use sufficient background/foreground colour contrast](/principles/accessibility/minimum-contrast.html)
- use industry recommended sizes for interactive components
- design structure into pages (headings of different levels, lists...)
- visually indicate the page focus
- avoid images of text
- not represent information using just colour on its own
- find pains a user might have using a journey map to understand where the journey/paths are not easy to use by everyone

