---
title: 4. Reduce cognitive load
weight: 104

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

So that we don't overload users.

Unnecessary demands being made on users' mental capacity when completing a task can lead to feeling overwhelmed, anxious and frustrated while increasing mistakes. 

We should design to support user's short-term memory capacity and allow them to focus on one task at a time.

## Good practice for reducing cognitive load

You should:

- prefill data where possible and user gives consent if required
- use summary pages to allow users to check what they have entered and change if needed
- make it easy to compare data from different sources
- follow Miller's law to help memory limitations
- apply progressive disclosure