---
title: 7. Consider context
weight: 107

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>


So that we are designing for user's circumstances and so users understand their circumstances in relation to using the service.

Understanding users' circumstances helps us to design for their constraints. Providing context helps users to understand where they are and what they can to do next. 

Provide information and functionality in context - at the point the user is most likely to need it. Save the user hunting for it, or missing it altogether.

All these context related considerations should help manage user expectations, leading to a clearer experience.

## Good practice for context

You should:

- avoid dead-ends
- explain what will happen next
- tell users what they need
- give access to, or provide content at the point users need it
- indicate timescales
- consider the end-to-end journey
- consider environment, IT confidence, pressures and constraints
- provide timely service feedback