---
title: Principles
weight: 100
description: The principles we work towards across the design profession to work together and design and build trusted, joined-up, user-centred services and outcomes.
---

<%= partial "ga" %>

<%= hero(current_page.data.title,current_page.data.description)%>

<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">Our principles</h2>
  
<div class="cards top-text">
  <ul>
    <li class="card">
        <div class="text">
            <h3><a href="/principles/1.html">1. Understand ALL users; needs, behaviours and pain points</a></h3>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h3><a href="/principles/2.html">2. Design accessibly</a></h3>
        </div>
    </li> 
    <li class="card">
        <div class="text">
            <h3><a href="/principles/3.html">3. Follow Gestalt laws</a></h3>
        </div>
    </li> 
      <li class="card">
        <div class="text">
            <h3><a href="/principles/4.html">4. Reduce cognitive load</a></h3>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h3><a href="/principles/5.html">5. Support and prevent users making mistakes</a></h3>
        </div>
    </li> 
    <li class="card">
        <div class="text">
            <h3><a href="/principles/6.html">6. Make users do less</a></h3>
        </div>
    </li> 

      <li class="card">
        <div class="text">
            <h3><a href="/principles/7.html">7. Consider context</a></h3>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h3><a href="/principles/8.html">8. Design a seamless experience</a></h3>
        </div>
    </li> 
    <li class="card">
        <div class="text">
            <h3><a href="/principles/9.html">9. Design with data and design logic</a></h3>
        </div>
    </li> 
      <li class="card">
        <div class="text">
            <h3><a href="/principles/10.html">10. Content has a purpose</a></h3>
        </div>
    </li> 

      <li class="card">
        <div class="text">
            <h3><a href="/principles/11.html">11. Content is accessible</a></h3>
        </div>
    </li> 
      <li class="card">
        <div class="text">
            <h3><a href="/principles/12.html">12. Content needs to change over time</a></h3>
        </div>
    </li> 

      <li class="card">
        <div class="text">
            <h3><a href="/principles/13.html">13. More content is not always the right solution</a></h3>
        </div>
    </li> 

      <li class="card">
        <div class="text">
            <h3><a href="/principles/14.html">14. Content starts with an audit</a></h3>
        </div>
    </li> 
  </ul>
</div>



</div>