---
title: Do not use colour alone to convey information
weight: 12
hide_in_navigation: true
---

<%= partial "ga" %>

<a href="/principles/2.html" class="govuk-back-link">Back to principle</a>

# Do not use colour alone to convey information

Do not use colour as the only way to explain or signal something. Some people have colour vision deficiencies. Instead, use a combination of colour, shapes and text to convey meaning.

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/use-of-color", "WCAG 1.4.1 - Use of colour (Level A)", true)%>

When using colour to differentiate elements, also provide additional information that does not rely on colour perception. For example, use an asterisk or text in addition to colour to indicate required form fields, and use labels to distinguish areas on graphs.

An example of this which is common is displaying a Red, Amber or Green (RAG) statuses on reports. Instead of using color alone, display text to indicate the status alongside the color.

You must also ensure when using text on colored backgrounds, you are meeting [minimum contrast ratios](minimum-contrast.html).


<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/color-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Provide the information conveyed with colour through another method. For example, use text so users who cannot perceive colour can still understand the information.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/color-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Using colour on it's own will make it hard for colourblind users to understand what is being presented to them.</div>
  </div>
</div>


## Tools you can use

- [Colorblind Web Page Filter](https://www.toptal.com/designers/colorfilter)

Additional tools for checking color contrast can be found on the [Ensure sufficient contrast between foreground and background](minimum-contrast.html) page.