---
title: Lean UX canvas
description: A method to understand the current scenario of business and user needs, and helps in creating hypotheses to validate via research.
weight: 516
last_reviewed_on: 2022-10-21
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="/ucd-methods/" class="dfe-hero-back">Design methods</a> 
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
      <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
   <th scope="col" class="govuk-table__header"><img src="/images/user-group.svg" alt style="width: 20px; margin-right: 10px">People</th>
      <th scope="col" class="govuk-table__header"><img src="/images/clock.svg" alt style="width: 20px; margin-right: 10px">Time</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Up to 6 people</td>
      <td class="govuk-table__cell">Up to 1 hour</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">Lean UX canvas</h2>
 
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</div>