---
title: Accessibility standards
weight: 11
---
<%= partial "ga" %>
<a href="/standards/" class="govuk-back-link">Back to standards</a>


# Accessibility standards

Ensuring the services DfE provide to users are accessible, means we are are providing services that work for everyone. 

You can find out about the laws, roles and responsibilities and how to test and audit your service in the <a href="https://apply-the-service-standard.education.gov.uk/accessibility/" target="_blank">How to apply the Service Standard in DfE accessibility guidance</a>. 


   
  <div class="cards cards-single govuk-!-margin-top-7">
      <ul>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/standards/accessibility-standards/alternative-meaning.html">Images and media contain alternative descriptions</a>
            </h3>
            <p>Media such as images, video and charts should contain a text alternative describing the media.</p>
            <p class="meta">WCAG 1.1.1 - Non-text content (Level A)</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/standards/accessibility-standards/color.html">Do not use colour alone to convey information</a>
            </h3>
            <p>Do not use colour as the only way to explain or signal something.</p>
            <p class="meta">WCAG 1.4.1 - Use of colour (Level A)</p>
          </div>
        </li>
         <li class="card">
          <div class="text">
            <h3>
              <a href="/standards/accessibility-standards/feedback.html">Feedback to the user is clear and identifiable</a>
            </h3>
            <p>Ensure that users are aware that an error has occurred and can determine what is wrong.</p>
            <p class="meta">WCAG 3.3.1 Error Identification (Level A)</p>
          </div>
        </li>
         <li class="card">
          <div class="text">
            <h3>
              <a href="/standards/accessibility-standards/focus.html">Make it easy for people to identify interactive elements</a>
            </h3>
            <p>It must be possible for a person to know which element among multiple elements has the keyboard focus.</p>
            <p class="meta">WCAG 2.4.7 - Focus Visible (Level AA) and WCAG 3.2.4 - Consistent Identification (Level AA)</p>
          </div>
        </li>
      </ul>
    </div>
