---
title: Assurance
weight: 600
description: There are many ways to get feedback and measure good design, use our guides to learn more about design assurance.
last_reviewed_on: 2022-12-16
---


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">   
  <h2 class="govuk-heading-m">Assurance for your service</h2>
<div class="cards card-thirds">
  <ul>
  <li class="card">
      <img src="/images/Blog-service-assessment-1536x1024.jpeg" alt>
      <div class="text">
          <h3>
              <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/" target="_blank">Service Assessments</a>
          </h3>
          <p>A formal stage in the service delivery lifecycle which assures services are being designed and built to meet users needs and the Service Standard.</p>
      </div>
  </li>
  <%# <li class="card">
      <img src="/images/discovery.png" alt>
      <div class="text">
          <h3>
              <a href="/assurance/peer-review/">Discovery peer review</a>
          </h3>
          <p>Getting assurance for whether you have done enough to ensure a good Discovery phase.</p>
      </div>
  </li> %>
  <li class="card">
      <img src="/images/user-laptop.jpg" alt>
      <div class="text">
          <h3>
              <a href="/accessibility/tools/">Accessibility audit</a>
          </h3>
          <p>How you can audit your service for accessibility compliance.</p>
      </div>
  </li>
  </ul>
  </div>
  </div>
  
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Assurance for you and your team</h2>
 <div class="cards card-thirds">
  <ul>
  <li class="card">
      <img src="/images/rad.jpg" alt>
      <div class="text">
          <h3>
              <a href="/assurance/design-board/">Design Board</a>
          </h3>
          <p>The Design Board helps teams get advice and recommendations on design and accessibility problems and de-risk services in a safe environment.</p>
      </div>
  </li>
  <li class="card">
     <img src="/images/crit.jpeg" alt>
      <div class="text">
        <h3>
          <a href="/assurance/design-crit/">Design Crit</a>
        </h3>
        <p>Share a piece of work that's in progress with others to get feedback and iterate on it.</p>
      </div>
    </li>
  </ul>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</div>