---
title: Design Library
description: Library of components, patterns, use-cases and example pages for building DfE services.
weight: 600
last_reviewed_on: 2022-10-21
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
 <h2 class="govuk-heading-m">Getting started</h2>
 <div class="cards card-thirds">
    <ul> 
    <li class="card">
            <div class="text">
            <strong class="govuk-tag">Updated</strong>
              <h3>
                <a href="/design-library/branding-guidelines/">Service branding guidlines</a>
              </h3>
              <p>Guidance and updated components for styling your service when it's not on GOV.UK.</p>
            </div>
          </li>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/design-library/components/">Components</a>
          </h3>
          <p>Combine components together to build patterns and pages for services.</p>
        </div>
      </li>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/design-library/design-patterns/">Design patterns</a>
          </h3>
          <p>Design consistent user journeys and interfaces using design patterns.</p>
        </div>
      </li>
    </ul>
  </div>

    </div>
  </div>
</div>

<div class="govuk-grid-row">

 <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">Prototyping</h2>
    <p>Prototyping is a powerful way to test or demonstrate an idea, there are several ways to do this.</p>
 </div>
  <div class="govuk-grid-column-one-third">



  </div>
</div>