---
title: Content guidelines
description: Content design makes things easier for people to understand and use. Using data, research and testing to understand what people need and then design content to meet those needs.
weight: 400
last_reviewed_on: 2022-10-21
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
  <div class="cards card-thirds">
  <ul>
    <li class="card">
      <div class="text">
        <h3>
          <a href="/content-guidelines/language-we-use.html">Language we use</a>
        </h3>
        <p>Terms, words or phrases we use in the department.</p>
      </div>
    </li>
    <li class="card">
      <div class="text">
        <h3>
          <a href="/content-guidelines/publishing-content-on-govuk.html">Publishing content on GOV.UK</a>
        </h3>
        <p>DfE's GOV.UK content is managed by the Digital Communication Team.</p>
      </div>
    </li>
    <li class="card">
      <div class="text">
        <h3>
          <a href="/content-guidelines/joining-services-to-govuk.html">Joining journeys between GOV.UK and digital services</a>
        </h3>
        <p>Working with Digital Communications Team to ensure a joined up journey for users between GOV.UK and DfE digital services.</p>
      </div>
    </li>
  </ul>
  </div>
  </div>
</div>