---
title: Principles
weight: 250
author: Anne Chan
---

<%= partial "ga" %>

# Principles

<p>Following these principles, along with the <a href="/design-standards/">design standards</a>, means you'll be designing good user expereicnes.</p>
<p>In addition to the principles and design standards, interaction designers must ensure they also follow the guidelines in the <a href="https://apply-the-service-standard.education.gov.uk/">How to apply the Service Standard in DfE</a> manual.</p>

<div class='dfeuk-example-callout'>
    <h3 class='dfeuk-tag dfeuk-example-callout__heading'> Download the principles poster</h3>
    <div class="govuk-grid-row" style="margin-top: 30px">
    <div class="govuk-grid-column-one-third">
    <img src="/images/design-principles-and-good-practices.jpg" alt="Poster of the principles as listed on this page" style="height: 300px;"><br/>
    </div>
  <div class="govuk-grid-column-two-thirds">
  <p>The design team in the Service Delivery Division (SDD) have developed these principles and you can download a poster which can be used in show and tells, presentations and workshops.</p>
  <p><a href="/images/design-principles-and-good-practices.jpg" target="_blank">Open larger version in new tab (JPG 2.3mb)</a> to save or print the poster.</p>
    </div>
    </div>
</div>

## The 9 principles


<div class="cards top-text">
  <ul>
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/1">1. Understand ALL users; needs, behaviours and pain points</a></h3>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/2">2. Design accessibly</a></h3>
        </div>
    </li> 
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/3-gestalt.html">3. Follow Gestalt laws</a></h3>
        </div>
    </li> 
      <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/4">4. Reduce cognitive load</a></h3>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/5">5. Support and prevent users from making mistakes</a></h3>
        </div>
    </li> 
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/6">6. Make users do less</a></h3>
        </div>
    </li> 

      <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/7">7. Consider context</a></h3>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/8">8. Design a seamless experience</a></h3>
        </div>
    </li> 
    <li class="card">
        <div class="text">
            <h3><a href="/interaction-design/principle/9">9. Design with data and design logic</a></h3>
        </div>
    </li> 
  </ul>
</div>

