---
title: Design Crit
description: Share a piece of work that's in progress with others to get feedback and iterate on it.
weight: 620
last_reviewed_on: 2022-12-16
---




<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="/assurance/" class="dfe-hero-back">Assurance</a> 
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><img src="/images/user-group.svg" alt style="width: 20px; margin-right: 10px">People</th>
            <th scope="col" class="govuk-table__header"><img src="/images/clock.svg" alt style="width: 20px; margin-right: 10px">Time</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Up to 6 people</td>
            <td class="govuk-table__cell">Up to 1 hour</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l">How design critiques help</h2>

<p>By running or taking part in a crit or review, you are contributing to the design process by:</p>

<ul class="govuk-list govuk-list--bullet">
<li>increasing the awareness and visibility of design in DfE</li>
<li>getting a different perspective on yours or others work</li>
<li>contributing to improving the design process</li>
<li>help make decisions, give advice or guidance</li>
<li>giving people a voice where they may otherwise be excluded</li>
</ul>

<p>Another benefit of running a design crit or review is that accessibility issues can be identified early.</p>


<h2 class="govuk-heading-l">Running a crit or design review in DfE</h2>

<p>The design profession has created a lightweight framework for running a review session. </p>

<p>Giving and receiving feedback on work is an important part of the design process. By doing design critiques or "crits" you are getting feedback from different people, identifying any problems early on and getting a different perspective on your work. 

<p>Similar to the rules of the retrospective, design crits should understand that "everyone did the best job they could with the information they had at the time."

<p>There are 3 primary rules of a design crit</p>

<h3 class="govuk-heading-m">1. Talk about the product or service, not the person</h3>

<p>In a crit, never talk about the person who has done the work, talk about the product or service. You are there to improve the product. </p>

<p>When giving feedback, instead of: "This doesn't work as an accordion as it's not showing me everything I need to know" you could say "Have you considered using just headers and paragraphs to display the content?"</p>

<p>This helps a discussion as the designer may have considered it and has a valid reason that they have not used the suggestion. This can help help a discussion about the decisions that have been made and build understanding. </p>

<p>When asking for feedback it's also important that you give some background on what you want to get feedback on and what you want to find out. </p>

<h3 class="govuk-heading-m">2. Be honest but kind and use constructive criticism only</h3>

<p>A crit is a safe place to talk, share feedback and also listen. Being rude, dismissive or obnoxious isn't going to help the design, the product or team relationships. </p>

<p>Thinking about how you give feedback is important, for example: instead of "you never use the display component properly" to "check the usage examples for the display component in the Design System."</p>

<p>Questions rather than statements can lead to better discussions in a design crit.</p>

<p>It's also important as the person requesting feedback, to listen, let people take in the work and get notes of what people say and why.</p>

<h3 class="govuk-heading-m">3. No-one should need to defend a position</h3>

<p>If you are designing as a team, no one person on the team should feel like they need to defend anything. Everyone is working on the thing - as a team - learning together. </p>

<div class="govuk-inset-text">
  Read the GOV.UK Blog on <a href="https://designnotes.blog.gov.uk/2017/11/27/using-design-crits-to-improve-collaboration/" target="_blank" rel="noopner noreferrer">using design crits to improve collaboration (opens in new tab)</a> 

</div>


  </div>
  <div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Related links</h2>
  <a href="https://designnotes.blog.gov.uk/2017/11/27/using-design-crits-to-improve-collaboration/" target="_blank" rel="noopner noreferrer">Using design crits to improve collaboration</a>
  </div>
</div>