---
title: Accessibility
weight: 15
author: Andy Jones
hide_in_navigation: true
---

<%= partial "ga" %>
<a href="/standards/" class="govuk-back-link">Back to standards</a>


# Accessibility

<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">We're working on this</h2>
    <p class="govuk-body">We haven't published content for this section yet. Rather than hide it away, we can accept contributions through GitHub. </p>
    <p class="govuk-body">Using the View source link at the bottom of this page, you can submit a change and pull request for consideration.</p>
</div>