---
title: Branding your service
weight: 11
---

<%= partial "ga" %>



<a href="/standards/" class="govuk-back-link">Back to standards</a>


# Branding your service

You need to make sure the service uses the right header, footer and typeface for where it’s being provided, or you risk confusing users.

Your site must look like GOV.UK if it’s on one of the following domains:

- gov.uk/myservice
- myservice.service.gov.uk
- myblog.blog.gov.uk


You should follow the guidance on the <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk" target="_blank" rel="noopner noreferrer">GOV.UK Service Manual for making the service look like GOV.UK (opens in new tab)</a>

Example of the GOV.UK header branding

<img src="/images/govheader.png" alt="Image of the GOV.UK header">


## If the service is on education.gov.uk

You should make changes to your branding if you are using the GOV.UK prototype kit or GOV.UK Frontend and are providing your service on an education.gov.uk domain.

<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/header-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">
    <ul>
    <li>Use the Crest logo</li>
    <li>Use Department for Education as the organisation name</li>
    <li>Use a <a href="#example-of-a-cross-platform-compatible-font-stack">cross-platform compatible font-stack</a></li>
    </ul>
    </div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/header-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">
      <ul>
    <li>Use the Crown or GOV.UK logotype</li>
    <li>Use the GDS Transport typeface</li>
    <li>Identify as being part of GOV.UK when it's not</li>
    </ul>
    </div>
  </div>
</div>

### Example of a cross-platform compatible font-stack

```css
body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif !important;
}
```

Example of the DfE header branding

<img src="/images/dfe_header.png" alt="Image of the DfE header">

### HTML 

If using the GOV.UK prototype kit, replace the content inside the <code>{% block header %}</code> block in the with the following HTML.

```html
<header class="govuk-header app-header" role="banner" data-module="govuk-header">
   <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
      <span class="govuk-header__logotype">
         <img src="/public/images/crest.png" class="govuk-header__logotype-crown-fallback-image">
          <span class="govuk-header__logotype-text">
            Department for Education
          </span>
        </span>
        <span class="govuk-header__product-name">
          Service name
        </span>
      </a>     
    </div>
  </div>
</header>
```

### SCSS content to style the header

```scss

$dfe-blue: #003a69;
$accent: #4073ac;

.govuk-header {
    background-color: $dfe-blue;
}

.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid $accent;
}

.govuk-header__product-name, .govuk-header__logotype-text {
    line-height: 2.5rem !important;
    font-size: 1.2rem;
}

.govuk-header__logotype-crown-fallback-image{height: 45px; width: 45px;}

```

### Crest logo

You must not use the GOV.UK Crown logotype on services not provided on GOV.UK or services.gov.uk. Instead, use the Department Crest.

If using the GOV.UK Prototype kit, download the following Crest file and save it to your <code>/app/assets/images</code> folder, and make sure it's named <code>crest.png</code>

The crest image is white on a transparent background, so for display purposes is shown on the blue background.

<a href="/images/crest.png">

<img src="/images/crest.png" height="50px" width="50px" style="background: #003a69; padding: 20px;">

</a>
