---
title: Make it easy for people to identify interactive elements

weight: 212
---

<%= partial "ga" %>



<a href="/standards/" class="govuk-back-link">Back to standards</a>

# Make it easy for people to identify interactive elements

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/focus-visible", "WCAG 2.4.7 - Focus Visible (Level AA)", true)%>

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/consistent-identification", "WCAG 3.2.4 - Consistent Identification (Level AA)", true)%>

<div class="DosAndDontsstyled__DosAndDontsContainerStyled">
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_do">
      <img src="/images/focus-do.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--green">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M20 7L9 18l-5-5" stroke="#096034" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Do </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Make it obvious when componenets which are interactive are tabbed onto, hovered, clicked or are in focus.</div>
  </div>
  <div class="DosAndDontsstyled__SectionStyled">
    <div class="DosAndDontsstyled__DosAndDontsColoredBoxStyled DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont">
      <img src="/images/focus-dont.png">
    </div>
    <div class="DosAndDontsstyled__PillSectionStyled">
      <strong class="govuk-tag govuk-tag--red">
        <svg width="20" height="20" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
          <path d="M18 6L6 18M6 6l12 12" stroke="#650905" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
        </svg> Don't </strong>
    </div>
    <div class="DosAndDontsstyled__TextSectionStyled">Keyboard-only users will find it difficult to understand how to use a service, if a component doesn't signal it can be interacted with.</div>
  </div>
</div>


## Tools you can use

- Acessibility Insights