---
title: Standards
weight: 10
author: Andy Jones
---

<%= partial "ga" %>

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Standards</h1>
      <p class="govuk-body-l">Working to defined standards and principles ensure services we create are inclusive and accessible and can be used by all people.</p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
    <i class="fa-solid fa-arrows-spin fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Standards and guidance</h2>
      <div class="cards">
        <ul>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/standards.html">Design standards</a>
              </h3>
              <p>The required standards designers must meet to ensure the services we provide are accessible and usable.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/branding.html">Branding your service</a>
              </h3>
              <p>There are certain guidelines that must be followed when styling your sevice depending on where it's being provided.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/inclusive-design.html">Inclusive design</a>
              </h3>
              <p>Inclusive design aims to remove barriers that create extra effort for some groups of users and enables and draws on the full range of human diversity.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="dfe-section-grey">
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Accessibility</h2>
  </div>
    <div class="govuk-grid-column-two-thirds">
 <p>Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.</p>

  <p>Full guidance on the laws, requirements, roles and responsibilites including tools, testing and training is available in the <a href="https://apply-the-service-standard.education.gov.uk/accessibility/" target="_blank">Apply the Service Standard in DfE</a> manual.</p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
    <i class="fa-solid fa-universal-access fa-6x"></i>
    </div>
    </div>
</div>

