---
title: Standards
weight: 10
author: Andy Jones
---

<%= partial "ga" %>

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Standards</h1>
      <p class="govuk-body-l">Working to defined standards and principles ensure services we create are inclusive and accessible and can be used by all people.</p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
    <i class="fa-solid fa-arrows-spin fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Standards and guidance</h2>
      <div class="cards">
        <ul>
        <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/accessibility-standards/">Accessibility standards</a>
              </h3>
              <p>Standards that all services must meet, how to test them and understand them.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/branding.html">Branding your service</a>
              </h3>
              <p>There are certain guidelines that must be followed when styling your sevice depending on where it's being provided.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/inclusive-design.html">Inclusive design</a>
              </h3>
              <p>Inclusive design aims to remove barriers that create extra effort for some groups of users and enables and draws on the full range of human diversity.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



