---
title: Design standards
weight: 10
---

<%= partial "ga" %>

<a href="/standards/" class="govuk-back-link">Back to standards</a>

  <h1 class="govuk-heading-m">Design standards</h1>
    <p class="govuk-body">Following these standards, the principles and good practice in this manual, will enable you to design and build accessile, usable, understandable services.</p>


<div class="dfe-section-grey">

<h2 class="govuk-heading-l">Core standards</h2>

  <div class="cards">
        <ul>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/branding.html">Branding your service</a>
              </h3>
              <p>There are certain guidelines that must be followed when styling your sevice depending on where it's being provided.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/accessibility.html">Accessibility</a>
              </h3>
              <p></p>
            </div>
          </li>
           <li class="card">
            <div class="text">
              <h3>
                <a href="/standards/privacy.html">Protecting users privacy</a>
              </h3>
              <p></p>
            </div>
          </li>
        </ul>
      </div>
</div>