---
title: Designs for different viewports are considered
weight: 219
---

<%= partial "ga" %>



<a href="/standards/" class="govuk-back-link">Back to standards</a>

# Designs for different viewports are considered

This is a requirement of:

<%= signpost_link("https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html", "WCAG 2.1.1 - Keyboard (Level A)", true)%>



## Tools you can use

- 