---
title: Patterns
description: Common and repeatable patterns in services which enable users to do things quickly and consistently.
weight: 550

---
<%= partial "ga" %>
<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/design-system/" class="dfe-hero-back">Design System</a>
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">We're working on this section</h2>

<p>Some of the patterns we're working on are:</p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Add to list
    </dt>
    <dd class="govuk-summary-list__value">Enables users to add something to a list, change, and remove items, in a consistent way.</dd>
    <dd class="govuk-summary-list__actions">
      <strong class="govuk-tag govuk-tag--orange">Started</strong>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <a href="/design-system/patterns/select-a-school/">Select a school</a>
    </dt>
    <dd class="govuk-summary-list__value">A pattern for selecting a school from the list of all schools in England.</dd>
    <dd class="govuk-summary-list__actions">
      <strong class="govuk-tag govuk-tag--green">Published</strong>
    </dd>
  </div>
</dl>

  </div>
</div>