---
title: UCD methods
description: User centred design Methods, toolkits and workshops for design thinking and problem solving. 
weight: 570
last_reviewed_on: 2022-10-21
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <div class="cards card-thirds">
  <ul>
    <li class="card">
     <img src="/images/postit.jpg" alt>
      <div class="text">
        <h3>
          <a href="/ucd-methods/how-might-we/">How Might We (HMW)</a>
        </h3>
        <p>Make sense of problems and how they might be solved.</p>
      </div>
    </li>
     <li class="card">
     <img src="/images/canvas.jpeg" alt>
      <div class="text">
        <h3>
          <a href="/ucd-methods/lean-ux/">Lean UX Canvas</a>
        </h3>
        <p>A method to understand the current scenario of business and user needs.</p>
      </div>
    </li>
     <li class="card">
     <img src="/images/sbp.png" alt>
      <div class="text">
        <h3>
          <a href="/ucd-methods/service-blueprinting/">Service blueprinting</a>
        </h3>
        <p>Mapping a service from user actions to business processes and systems.</p>
      </div>
    </li>
     <li class="card">
     <img src="/images/sprint.jpeg" alt>
      <div class="text">
        <h3>
          <a href="/ucd-methods/sprint/">Sprint</a>
        </h3>
        <p>5 days to solve a problem.</p>
      </div>
    </li>
  </ul>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</div>