---
title: Patterns and components
weight: 600
author: Andy Jones
---

<%= partial "ga" %>

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Patterns and components</h1>
      <p class="govuk-body-l">Common service patterns and components to design consistent, trusted, services.</p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
    <i class="fa-solid fa-layer-group fa-10x"></i>
    </div>
  </div>
</div>


<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">We're working on this</h2>
    <p class="govuk-body">We haven't published content for this section yet. Rather than hide it away, we can accept contributions through GitHub. </p>
    <p class="govuk-body">Using the View source link at the bottom of this page, you can submit a change and pull request for consideration.</p>
</div>