---
title: Communities of practice
description: Our communities of practice meet regularly to discuss work, learn, share and support each other.
weight: 890

---




<div class="dfe-hero">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="/professions-and-community/" class="dfe-hero-back">Professions and communities</a>
            <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
            <p class="govuk-body-l"><%=current_page.data.description%></p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">Every Thursday between 1pm and 4pm is protected profession-time and is your time to learn and share.
  </div>

        <p>Each profession runs sessions differently, but each one usually covers a talk, design crits or a learning session.</p>

        <p>Meetings are 1pm to 2pm and rotate between professions on a weekly basis.</p>

        <p> Join the profession channels on Slack and ask for an invite if you want to come along to one.</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>#contentdesign </li>
            <li>#interaction-design </li>
            <li>#servicedesign </li>
            <li>#design </li>
            <li>#user_research </li>
            <li>#accessibility </li>
        </ul>
    </div>
</div>