---
title: Heads of profession
description: Our Heads of Profession across DDaT support delivery teams, develop standards and best practice for ways of working.
weight: 885
last_reviewed_on: 2022-10-21
---



<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/professions-and-community/" class="dfe-hero-back">Professions and communities</a>
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">The current Heads of Profession supporting service delivery teams and professions are:</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Architecture</dt>
        <dd class="govuk-summary-list__value">Luke Slowen</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business Analysis
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">Vacant</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Content Design
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">Vacant</strong> Currently being covered by Andy Jones
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery
        </dt>
        <dd class="govuk-summary-list__value">
          Jill Wright
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">Vacant</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service and Interaction Design
        </dt>
        <dd class="govuk-summary-list__value">
          Andy Jones
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Software Development
        </dt>
        <dd class="govuk-summary-list__value">
          Lewis Wilson
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          User Research
        </dt>
        <dd class="govuk-summary-list__value">
          Tom Adams
        </dd>
      </div>
    </dl>
  </div>
</div>