---
title: Professions and communities
description: How we work together as a design profession and with other communities of practice in the Department for Education and across government.
weight: 880
last_reviewed_on: 2022-10-21
---




<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="cards card-thirds">
      <ul>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/professions-and-community/heads-of-profession.html">Heads of Profession</a>
            </h3>
            <p>Heads of Profession (HoPs) support and enable professionaals to do their job effectivley.</p>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/professions-and-community/community.html">Communities of practice</a>
            </h3>
            <p>Our communities of practice meet regularly to discuss work, learn, share and support each other.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>