---
title: Components
description: Components which can be used to ensure consistent user experiences in services built by the Department.
weight: 520
last_reviewed_on: 2022-12-16
---




<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/design-system/" class="dfe-hero-back">Design System</a>
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">We're working on this section</h2>

<p>Some of the components we're working on are:</p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DfE Header component
    </dt>
    <dd class="govuk-summary-list__value">A DfE branded header component with variants for different uses.</dd>
    <dd class="govuk-summary-list__actions">
      <strong class="govuk-tag govuk-tag--orange">In progress</strong>
    </dd>
  </div>
</dl>

  </div>
</div>