---
title: Component design
weight: 400
description: Use the 4 stage acceptance criteria to validate if building a new component is the right thing to do.
---

<%= partial "ga" %>

<%= hero(current_page.data.title,current_page.data.description)%>

> When designing a new service, always start with what is available already. 
>
> Check the <a href="https://design-system.service.gov.uk" target="_blank" rel="noopner noreferrer">GOV.UK Design System (opens in new tab)</a> before designing anything new because those patterns and components have already been researched and tested to make sure they're accessible.


If you design anything new, your team will have to do all of the user research and [accessibility testing and audit](https://apply-the-service-standard.education.gov.uk/accessibility/accessibility-audit.html) work to make sure that it is meeting the needs of your users and the accessibility standards.

You can also consider if there are components from <a href="https://github.com/ctdesign/gov-design-systems-list" target="_blank">design systems from other government departments</a> that can support meeting your user needs. 

## Four stage acceptance criteria

This does not stop new components being created, but instead, puts checks in place to prevent over-engineering of service frontends.

1. [Can the problem be solved with existing components or patterns?](#can-the-problem-be-solved-with-existing-components-or-patterns)
2. [Does it meet user needs across multiple services?](#does-it-meet-user-needs-across-multiple-services)
3. [Does it add value to the user experience?](#does-it-add-value-to-the-user-experience)
4. [Is it accessible?](#is-it-accessible)


### 1. Can the problem be solved with existing components or patterns?

The primary look and feel for digital services is the <a href="https://frontend.design-system.service.gov.uk/" target="_blank" rel="noopner noreferrer">GOV.UK Frontend (opens in new tab)</a> with available components, patterns and styles detailed in the <a href="https://design-system.service.gov.uk/" target="_blank" rel="noopner noreferrer">GOV.UK Design System (opens in new tab)</a>.

Where appropriate, contributions should be made back to the design system to support the development of components for other users. 

The <a href="https://github.com/alphagov/govuk-design-system-backlog/projects/1" target="_blank" rel="noopner noreferrer">GOV.UK Design System backlog (opens in new tab)</a> also contains components which are being considered, are in development, or have been built by other designers. 

If you decide the problem cannot be designed around by anything that exists in the design system, and it is a common problem, ask in DfE or Gov Digital Slack channels to see if anyone else has designed for the same problem. 

- <a href="https://ukgovernmentdfe.slack.com/archives/C013E0LRL5S " target="_blank" rel="noopner noreferrer">interaction-design (DfE Slack)</a>
- <a href="https://ukgovernmentdfe.slack.com/archives/CAGBHB4JV " target="_blank" rel="noopner noreferrer">developers (DfE Slack)</a>
- <a href="https://ukgovernmentdigital.slack.com/archives/C062GAGLW " target="_blank" rel="noopner noreferrer">design (GOV Digital Slack) </a>
- <a href="https://ukgovernmentdigital.slack.com/archives/C6DMEH5R6 " target="_blank" rel="noopner noreferrer">govuk-design-system (GOV Digital Slack)</a>


### 2. Does it meet user needs across multiple services?

Designers can often work in silos and as a result aren't aware of what other DfE designers are working on. This becomes obvious and a pain point for users of multiple DfE services, which have been designed and built by different teams. 

Using components consistently, sharing with other designers and understanding who the users are and which services they use, helps to provide a consistent experience of DfE services and will help you meet the following standards:

-  <a href="https://apply-the-service-standard.education.gov.uk/service-standard/3-join-up-across-channels.html" target="_blank" rel="noopner noreferrer">Service Standard 3 - provide a joined up experience across all channels (opens in new tab)</a>
-  <a href="https://www.w3.org/WAI/WCAG21/Understanding/consistent-identification.html" target="_blank" rel="noopner noreferrer">WCAG 3.2.4 (AA) - Consistent identification (opens in new tab)</a>

### 3. Does it add value to the user experience?

When designing a new component, you should ensure it meets a validated user need through user research. Designing components and features which meet user's needs, should be shared so that other designers can use them in their services. 

Components and features should not be built or designed just to make something look aesthetically pleasing, but instead add value, solve a problem or make something complex, understandable.

### 4. Is it accessible?

Accessibility is non-negotiable. New components or features must meet the component design guidelines and be able to be used by people of all abilities. 

When considering a new component, it will often go through several iterations and design decisions will be made on what to take forward and what to discard, often through design crits, show and tells and user research. 

Involving a wide range of people in these decisions will ensure you are being inclusive in your design approach. 

You can read the <a href="https://github.com/alphagov/govuk-frontend/blob/main/docs/contributing/test-components-using-accessibility-acceptance-criteria.md" target="_blank" rel="noopner noreferrer">full guidance for accessibility acceptance criteria for components on GOV.UK (opens in new tab)</a>

## Find out more

The following links open in a new tab

- <a href="https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices" target="_blank" rel="noopner noreferrer">Designing for different browsers and devices</a>
- <a href="https://github.com/alphagov/govuk-frontend/blob/main/CONTRIBUTING.md#conventions-to-follow" target="_blank" rel="noopner noreferrer">GOV.UK Frontend coding standards</a>


