---
title: Contact Design Ops
description: Details of how to contact the Design Ops team in DfE.
weight: 99999
hide_in_navigation: true
---




<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">How Design Ops can help you</h2>
      <p>The Design Ops team can help you with working to common processes, patterns and components, and provide delivery teams with:</p>
      <ul>
          <li>guidance on good design practice across professions</li>
          <li>applying the Service Standard in our work</li>
          <li>advice and guidance for de-risking design in services </li>
          <li>facilitating the development of common tools, components and patterns</li>
          <li>supporting professional development through skills, capability and training</li>
          <li>being the authoritative voice on consistency across design</li>
          <li>accessibility, usability and inclusive design practices, tools and reporting</li>
      </ul>
      
      <h2 class="govuk-heading-m">Contact the team</h2>
      <p>By email at <a href="mailto:designops@digital.education.gov.uk">designops@digital.education.gov.uk</a></p>
      <p>Through our Slack channel <a href="https://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#design-ops</a></p>
      
    </div>
</div>