---
title: Feedback
description: Give feedback about the DfE Design manual.
weight: 99999
hide_in_navigation: true
---




<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <p>We welcome any feedback on this service, you can do this in several ways:</p>

       <p>Use the details on the <a href="/contact.html">contact Design Ops</a> page.</p>
       <p>Complete the <a href="https://forms.gle/WfLUr8K6SDVERwzbA" target="_blank">feedback form (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-m">Contributions</h2>
      <p>You can contribute by using the report problem link at the footer of every page to raise an issue or change.</p>
      <p>If you're unfamiliar with using GitHub to raise an issue or pull request, <a href="/contact.html">contact Design Ops</a> for help.</p>
     
    </div>
</div>