---
title: User Centred Design in DfE
description: A framework of principles, guidance, and standards to enable and support teams to deliver joined-up, effective, user-centred services for people who use's of Department for Education services.
weight: 0
last_reviewed_on: 2022-12-16
---

<div class="dfe-hero">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
            <p class="govuk-body-l"><%=current_page.data.description%></p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Getting started</h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="cards card-thirds">
            <ul>
             <li class="card">
                    <div class="text">
            <strong class="govuk-tag">Updated</strong>
                        <h3>
                            <a href="/accessibility/">Accessibility and inclusive design</a>
                        </h3>
                        <p>How to implement and test WCAG and ensure your're designing for everyone..</p>
                    </div>
                </li>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/principles/">Principles</a>
                        </h3>
                        <p>Our design principles demonstrate our commitment to good design. They empower us to design the right things, the right way, consistently.</p>
                    </div>
                </li>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/content-guidelines/">Content guidelines</a>
                        </h3>
                        <p>Content design makes things easier for people to understand and use.</p>
                    </div>
                </li>
               
            </ul>
        </div>
        <h2 class="govuk-heading-m">Design and build services</h2>
        <p class="govuk-body">Use the tools, methods, components, and patterns to design and build consistent, accessible, usable services.</p>
        <div class="cards card-thirds">
            <ul>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/design-system/">Design System</a>
                        </h3>
                        <p>Components and patterns to build consistent user interfaces and interactions.</p>
                    </div>
                </li>
                <li class="card">
                    <div class="text">
                        <h3>
                            <a href="/prototyping/">Prototyping</a>
                        </h3>
                        <p>Design and build prototypes of services using tools like Figma or the Prototyping kit.</p>
                    </div>
                </li>
            </ul>
        </div>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Design assurance</h2>
        <p class="govuk-body">There are many ways to get feedback and measure good design, use our guides to learn more about design assurance.</p>
        <div class="cards card-thirds">
            <ul>
                <li class="card">
                    <img src="/images/Blog-service-assessment-1536x1024.jpeg" alt>
                    <div class="text">
                        <h3>
                            <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/" target="_blank">Service Assessments</a>
                        </h3>
                        <p>A formal stage in the service delivery lifecycle which assures services are being designed and built to meet users needs and the Service Standard.</p>
                    </div>
                </li>
                <li class="card">
                    <img src="/images/rad.jpg" alt>
                    <div class="text">
                        <h3>
                            <a href="/assurance/design-board/">Design Board</a>
                        </h3>
                        <p>The Design Board helps teams get advice and recommendations on design and accessibility problems and de-risk services in a safe environment.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="dfe-panel">
            <strong class="govuk-tag govuk-tag--yellow">New</strong>
            <h2 class="govuk-heading-m">Design Histories</h2>
            <p>Use the new service to publish and maintain a design history for your team and service.</p>
            <p>
                <a href="/design-histories/">Find out more <span class="govuk-visually-hidden"> about design histories</span></a>
            </p>
        </div>
        <hr class="govuk-section-break govuk-section-break--visible dfe-bar-thick govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s">Additional guidance across DfE</h3>
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard in DfE</a>
            </li>
            <li>
                <a href="https://technical-guidance.education.gov.uk/" target="_blank">DfE Technical Guidance</a>
            </li>
            <li>
                <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank">DfE Architecture</a>
            </li>
        </ul>
        <h3 class="govuk-heading-s">GOV.UK resources</h3>
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a>
            </li>
            <li>
                <a href="https://www.gov.uk/service-manual" target="_blank">GOV.UK Service Manual</a>
            </li>
        </ul>
    </div>
</div>