---
title: Design in DfE
weight: 0
---

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Design in DfE

This guidance helps teams understand how to design services in DfE.

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2>Content design</h2>
 <p>Content standards for how we write for DfE services.</p>
 <p><a href="/content-design/">More about content design in DfE</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-a fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2>Interaction design</h2>
 <p>Standards, guidelines and good practice for designing accessible, useable and consistent DfE services.</p>
 <p><a href="/interaction-design/">More about interaction design in DfE</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-object-group fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2>Service design</h2>
 <p>How to ensure the service is using the correct header, logos and typeface for where it's being provided.</p>
 <p><a href="/content-design/"></a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-signs-post fa-6x"></i>
  </div>
</div>
</div>

