---
title: Design in DfE
description: Working to consistent patterns, guidelines and standards enables us to deliver joined-up, effective, targeted and trusted services for Department for Education users.
weight: 10
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Design in the Department for Education</h1>
      <p class="govuk-body-l">Working to consistent patterns, guidelines and standards enables us to deliver joined-up, effective, targeted and trusted services for our users.</p>
    <p class="govuk-body-l govuk-!-font-weight-bold">This manual should be used alongside the <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard manual</a>.</p>

    </div>
    <div class="govuk-grid-column-one-third standards-icon">
     <i class="fa-solid fa-arrows-to-dot fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Design and build good services</h2>
     <div class="cards">
    <ul>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/content-design/">Content design</a>
          </h3>
          <p>The design and accessibility standards that all designers working on digital services must meet.</p>
        </div>
      </li>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/interaction-design/">Interaction design</a>
          </h3>
          <p>Patterns and components designed specifically for DfE users or iterated from GOV Design System.</p>
        </div>
      </li>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/service-design/">Service design</a>
          </h3>
          <p>Making sure we're working to good practices, meeting standards and sharing knowledge and experience across professions.</p>
        </div>
      </li>
    </ul>
  </div>
    </div>
  </div>
</div>


<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">Additional guidance</h2>
   <div class="cards">
        <ul>
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://apply-the-service-standard.education.gov.uk/">Apply the Service Standard in DfE</a>
              </h3>
              <p>Guidance for design, delivery and operational teams to understand how to apply the Service Standard in DfE.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://apply-the-service-standard.education.gov.uk/accessibility/">Accessibility Standards</a>
              </h3>
              <p>Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/">Service Assessments</a>
              </h3>
              <p>Guidance for when it's appropriate to put your service through an assessment and how to talk about and show your work.</p>
            </div>
          </li>
        </ul>
      </div>
</div>

