---
title: Design in the Department for Education
weight: 0
---

<%= partial "ga" %>



<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Design in the Department for Education

This guidance helps teams understand how to design services in DfE and should be used alongside the <%= external_link("https://apply-the-service-standard.education.gov.uk/", "How to apply the Service Standard in DfE")%> manual.

<%= banner_panel("This is a Beta","This guidance is new and some parts are not yet published. Find out how to <a href='contribute'>contribute</a>.")%>



## Standards and assurance

Following the standards and guidance will help you deliver good services for users of DfE services.

<div class="cards">
  <ul>
    <li class="card">
        <div class="text">
            <h2><a href="/design-standards/">Design standards</a></h2>
            <p>The design and accessibility standards that all designers working on digital services must meet.</p>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h2><a href="/patterns-and-components/">Patterns and components</a></h2>
            <p>Patterns and components designed specifically for DfE users or iterated from GOV Design System.</p>
        </div>
    </li>
      <li class="card">
        <div class="text">
            <h2><a href="/design-assurance/">Design assurance</a></h2>
            <p>Making sure you're working to good practices, meeting standards and sharing knowledge and experience across professions.</p>
        </div>
    </li>
  </ul>
</div>

## Profession-specific guidance, principles and good practice


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2><a href="/content-design/">Content design</a></h2>
 <p>Content guidelines for how we write for DfE services.</p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-a fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2><a href="/interaction-design/">Interaction design</a></h2>
 <p>Good practice, principles and ways of working for interaction designers.</p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-object-group fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2><a href="/service-design/">Service design</a></h2>
 <p>Methodologies and processes for designing good services.</p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-signs-post fa-6x"></i>
  </div>
</div>
</div>

