---
title: Design in DfE
description: Working to consistent patterns, guidelines and standards enables us to deliver joined-up, effective, targeted and trusted services for Department for Education users.
weight: 10
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">Design in the Department for Education</h1>
      <p class="govuk-body-l">Working to consistent patterns, guidelines and standards enables us to deliver joined-up, effective, targeted and trusted services for our users.</p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
     <i class="fa-solid fa-arrows-to-dot fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Design and build good services</h2>
      <div class="cards">
        <ul>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/">Accessibility</a>
              </h3>
              <p>Ensuring the services DfE provide to users are accessible, means we are are providing services that work for everyone.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/patterns-and-components/">Patterns and components</a>
              </h3>
              <p>Patterns and components designed specifically for DfE users or iterated from GOV Design System.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/design-assurance/">Design assurance</a>
              </h3>
              <p>Making sure you're working to good practices, meeting standards and sharing knowledge and experience across professions.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">Profession guidance</h2>
  <p>Specific guidance, information and standards for content, interaction and service designers working in DfE.</p>
  <div class="cards">
    <ul>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/content-design/">Content design</a>
          </h3>
          <p>The design and accessibility standards that all designers working on digital services must meet.</p>
        </div>
      </li>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/interaction-design/">Interaction design</a>
          </h3>
          <p>Patterns and components designed specifically for DfE users or iterated from GOV Design System.</p>
        </div>
      </li>
      <li class="card">
        <div class="text">
          <h3>
            <a href="/service-design/">Service design</a>
          </h3>
          <p>Making sure we're working to good practices, meeting standards and sharing knowledge and experience across professions.</p>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="dfe-section-cta">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
       <h2 class="govuk-heading-m">Being a designer in DfE</h2>
      <p class="govuk-body">Whether you have recently joined DfE or you're working as part of a managed service or are a contractor, get up and running quickly with how we do design across DfE.</p>
       <a href="/working-in-dfe">Read more <span class="govuk-visually-hidden">about how we design in DfE</span></a>
    </div>
     <div class="govuk-grid-column-one-half">
     <h2 class="govuk-heading-m">Contribute to this manual</h2>
      <p class="govuk-body">The development and maintenance of this manual is led by the design community in DfE. All the content is open source and you can contribute changes through GitHub.</p>
       <a href="/contribute.html">Contribute<span class="govuk-visually-hidden">to the design manual.</span></a>
    </div>
    </div>
</div>