---
title: Design in the Department for Education
weight: 0
---

<%= partial "ga" %>



<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Design in the Department for Education

This manual helps you understand how to design consitent, trusted and joined-up outcomes for users of Department for Education services and products.

To ensure you are meeting the Service Standard, accessibility legislation and other laws and regulations, you should use this manual alongside the  <%= external_link("https://apply-the-service-standard.education.gov.uk/", "How to apply the Service Standard in DfE")%> service.

<%# 
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

## Standards and assurance

Following the standards and guidance will help you deliver good services for users of DfE services.

<div class="cards">
  <ul>
    <li class="card">
        <div class="text">
            <h2 id="design-standards"><a href="/design-standards/">Design standards</a></h2>
            <p>The design and accessibility standards that all designers working on digital services must meet.</p>
        </div>
    </li>
    <li class="card">
        <div class="text">
            <h2 id="patterns-and-components"><a href="/patterns-and-components/">Patterns and components</a></h2>
            <p>Patterns and components designed specifically for DfE users or iterated from GOV Design System.</p>
        </div>
    </li>
      <li class="card">
        <div class="text">
            <h2 id="design-assurance"><a href="/design-assurance/">Design assurance</a></h2>
            <p>Making sure you're working to good practices, meeting standards and sharing knowledge and experience across professions.</p>
        </div>
    </li>
  </ul>
</div>

## Profession-specific guidance, principles and good practice


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2 id="content-design"><a href="/content-design/">Content design</a></h2>
 <p>Content guidelines for how we write for DfE services.</p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-a fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2 id="interaction-design"><a href="/interaction-design/">Interaction design</a></h2>
 <p>Good practice, principles and ways of working for interaction designers.</p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-object-group fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h2 id="service-design"><a href="/service-design/">Service design</a></h2>
 <p>Methodologies and processes for designing good services.</p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-signs-post fa-6x"></i>
  </div>
</div>
</div>

</div>
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m dfeuk-border-top--thick">Recently added</h2>

<ul class="govuk-list govuk-list--spaced">
<li><a href="/working-in-dfe/">Working as a designer in DfE</a></li>
<li><a href="/design-standards/branding.html">Branding your service</a></li>
</ul>


<div class="dfe-cta">
<h2 class="govuk-heading-m">Find out how we do design in the Department for Education</h2>
<a href="/working-in-dfe/" class="govuk-button">How we work</a>
</div>

</div>
</div>

 %>
