---
title: Design in the Department for Education
description: Working to consistent patterns, guidelines and standards enables us to deliver joined-up, effective, targeted and trusted services for Department for Education users.
weight: 10
---

<%= partial "ga" %>

<%= hero("Design in the <br/> Department for Education",current_page.data.description)%>

<%= fullCta('<p>This manual should be used alongside the <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard in DfE</a> manual.</p>')%>
 
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Additional guidance</h2>
<div class="cards">
  <ul>
    <li class="card">
      <div class="text">
        <h3>
          <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard in DfE</a>
        </h3>
        <p>Guidance for design, delivery and operational teams to understand how to apply the Service Standard in DfE.</p>
      </div>
    </li>
    <li class="card">
      <div class="text">
        <h3>
          <a href="https://apply-the-service-standard.education.gov.uk/accessibility/" target="_blank">Accessibility Standards</a>
        </h3>
        <p>Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.</p>
      </div>
    </li>
    <li class="card">
      <div class="text">
        <h3>
          <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/" target="_blank">Service Assessments</a>
        </h3>
        <p>Guidance for when it's appropriate to put your service through an assessment and how to talk about and show your work.</p>
      </div>
    </li>
  </ul>



  </div>
   <div class="govuk-grid-column-one-third">
   
   </div>
</div>



