---
title: Roadmap
description: Features and planned updates for the service.
weight: 99999
hide_in_navigation: true
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l"><%=current_page.data.description%></p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Feature</th>
        <th scope="col" class="govuk-table__header">Summary</th>
        <th scope="col" class="govuk-table__header">Section</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/design-system/components/">Components</a></th>
            <td class="govuk-table__cell">Examples of common components used across the department in digital services.</td>
            <td class="govuk-table__cell">Design System</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
        </tr>
         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/design-system/patterns/">Patterns</a></th>
            <td class="govuk-table__cell">Examples of common and repeatable patterns used in services built by DfE.</td>
            <td class="govuk-table__cell">Design System</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/content-guidelines/language-we-use.html">Language we use</a></th>
            <td class="govuk-table__cell">Glossary of words, terms and acronyms used in the department.</td>
            <td class="govuk-table__cell">Content guidelines</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Started</strong></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Professions in DfE</th>
            <td class="govuk-table__cell">Provide information about professions in DfE and how they work with each other.</td>
            <td class="govuk-table__cell">Ways of working</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Professions in DfE</th>
            <td class="govuk-table__cell">Provide information about professions in DfE and how they work with each other.</td>
            <td class="govuk-table__cell">Ways of working</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>

