---
title: Working as a designer in DfE
weight: 600
---

<%= partial "ga" %>


# Working as a designer in DfE

<div class="timeline">
                <ol>
                    <li>
                        <h2 class="gcweb-heading-m">Before you start</h2>
                        <p>Get familair with design in Government.</p>
                        <p>The GOV.UK <a href="https://www.gov.uk/service-manual" target="_blank">Service Manual</a> and GOV.UK <a href="https://design-system.service.gov.uk/">Design System</a> provides the core guidelines and standards we follow in DfE and across all central government departments and a lot of other public sector bodies and authorities.</p>
                        <p>Understand how the profession (service, interaction or content design) you'll be working in does things in DfE. We've published guidance for how we work and design user-centered, joined up, trusted services in this manual, for each profession.
                        </p>
                        <p>Read through the <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">How to apply the Service Standard in the Department for Education</a> manual and familiarise yourself with how we apply the 14 Service Standard in DfE throughout the delivery lifecycle.</p>
                    </li>

                     <li>
                        <h2 class="gcweb-heading-m">Who we are</h2>
                        <p>The Head of Profession for design is Jas Kang.</p>
                        <p>Each profession has its own leads as well as a mix of permenant Civil Servant staff and contractors.</p>



                    </li>
                     <li>
                        <h2 class="gcweb-heading-m">Getting your kit</h2>
                        <p></p>
                    </li>
                     <li>
                        <h2 class="gcweb-heading-m">How we do design in DfE</h2>
                        <p></p>
                        <h3 class="gcweb-heading-m">Protected time</h3>
                        <p>Every Thursday betwen 1pm and 5pm is community protected time. This allows you to work on community and professional develiopment instead of your usual project or delivery work.</p>
                        <p>Some examples of how this time has been used includes:</p>
                        <ul class="govuk-list govuk-list--bullet">
                        <li>creating an evolving set of design standards for all user-centered design professions</li>
                        <li>ways of working, <a href="/interaction-design/principle/">principles</a> and guidelines for good design practice</li>
                        <li>consistent approach to <a href="/design-assurance/design-critiques.html">design reviews and critiques</a></li>
                        <li>a process for creating and publishing <a href="/design-assurance/design-histories.html">design histories</a></li>
                        </ul>
                    </li>                    
                     <li>
                        <h2 class="gcweb-heading-m">Collaborating and sharing</h2>
                        <p></p>
                    </li>                                    
                     <li>
                        <h2 class="gcweb-heading-m">Communities of practice</h2>
                        <p>Each design profession has it's own community of practice which aims to develop and grow the community. It's also a safe place to get feedback, share work and build the design capability and awareness across all of DfE.</p>
                    </li>

                </ol>
            </div>